.header {
	height: auto;
}

.container.main {
	padding: 0;
}

.main-contents {
	padding-top: 50px;
}
.main-contents-info {
	padding: 0 234px 100px 234px;
	text-align: center;
	background: url(../make_img/main/bg_img01.png) no-repeat right bottom;
}

.main-contents-info .word-subject {
	color: #fada7c;
	font-weight: bold;
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 18px;
}


.main-contents-info .word-subject-info01 {
	font-size: 42px;
	line-height: 45px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 20px;
}

.main-contents-info .word-subject-info02 {
	color: #e0e2ef;
	font-size: 12px;
	line-height: 18px;
}

/* main menu */
.main-menu01 {
	width: 980px;
	margin: 0 auto;
	margin-top: 150px;
	padding-bottom: 100px;

}

.main-menu01:after {
	content: "";
	clear: both;
	display: block;
}

.main-menu01 li {
	float: left;
	width: 201px;
	height: 231px;
	margin: 0 22px;
}

.main-menu01 li a {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.22)
}

.main-menu01 li a img {
	display: block;
	margin-bottom: 5px;
}



/* footer */
.footer {
	margin: 0;
	padding: 0;
}

.footer-wrapper {
	width: 945px;
	margin: 0 auto;
	padding: 25px;
	padding-right: 0;
}

.footer-menu {
	margin-bottom: 15px;

}

.footer-menu:after {
	content: "";
	clear: both;
	display: block;
}

.footer-menu li {
	float: left;
	margin-right: 25px;
}

.footer-menu li a {
	display: block;
	padding-left: 10px;
	color: #fff;
	font-size: 12px;
	background: url(../make_img/common/icon_footer_bullet01.gif) no-repeat left 10px;
}

.footer-menu li a:hover {
	text-decoration: underline;
}

.footer-menu li a.word-privacy {
	font-weight: bold;
	color: #fada7c
}

.footer-area {
	position: relative;
	overflow: hidden;
}

.footer-area .footer-box { 
	position: relative;
	float: left;
	padding-left: 130px;
}

.footer-area .footer-box h2 {
	position: absolute;
	top: 10px;
	left: 0;
}

.footer-area .footer-box h2 img {
	display: block;
}

.footer-area .footer-box address,
.footer-area .footer-box .footer-info,
.footer-area .footer-box .copyright {
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	letter-spacing: 0;
}

.footer-select-box {
	float: right;
}

