.container.main {
	width: auto;
	padding: 35px 45px;
	background: #f2f3f4
}

.main-contents {
	width: 970px;
	margin: 0 auto;
	border: 0px solid red;
}

.main-contents .main-contents-area01 {
	margin-bottom: 14px;
}

.main-contents .main-contents-area01 a,
.main-contents .main-contents-area01 a img {
	display: block;
}

.main-contents-area02 {
	overflow: hidden;
}

.main-contents-area02 .main-contents-box01 {
	float: left;
	width: 485px;
}

.main-contents-area02 .main-contents-box01 .main-contents-info01 {
	margin-bottom: 9px;
	overflow: hidden;
}

.main-contents-area02 .main-contents-box01 .main-contents-info01 li {
	float: left;
	margin-right: 9px;
}

.main-contents-area02 .main-contents-box01 .main-contents-info01 li.none {
	margin-right: 0;
}

.main-contents-area02 .main-contents-box01 .main-contents-info01 li a,
.main-contents-area02 .main-contents-box01 .main-contents-info01 li a img {
	display: block;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 {
	clear: both;
	width: 433px;
	height: 140px;
	padding: 22px;
	background: #fff;
	border-right: 1px solid #d7d7d9;
	border-bottom: 1px solid #d7d7d9
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 .title-area {
	overflow: hidden;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 .title-area h2 {
	float: left;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 .title-area h2 {
	margin-bottom: 15px;
	font-size: 18px;
	color: #474747;
	font-weight: bold;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 .title-area h2 span {
	color: #939393;
	font-size: 12px;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 .title-area a {
	float: right;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 .title-area a img {
	display: block;
	margin-top: 5px;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 ul {
	overflow: hidden;
	width: 453px;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 ul li {
	float: left;
	margin-right: 20px;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 ul li a {
	display: block;
	color: #b2b2b2;
	text-align: center;
}

.main-contents-area02 .main-contents-box01 .main-contents-info02 ul li a img {
	display: block;
	margin-bottom: 10px;
	width: 129px;
	height: 85px;
	border: 1px solid #d4d4d4
}

.main-contents-area02 .main-contents-box02 {
	float: left;
	width: 230px;
	margin-right: 9px;
}

.main-contents-area02 .main-contents-box02 li {
	margin-bottom: 8px;
}

.main-contents-area02 .main-contents-box02 li a,
.main-contents-area02 .main-contents-box02 li a img {
	display: block;
}

.main-contents-area02 .main-contents-box03 {
	float: left;
	width: 244px;
}

.main-contents-area02 .main-contents-box03 .banner01 {
	margin-bottom: 9px;
}

.main-contents-area02 .main-contents-box03 .banner01 a,
.main-contents-area02 .main-contents-box03 .banner01 a img {
	display: block;
}

.main-contents-area02 .main-contents-box03 .main-notice-area {
	width: 200px;
	height: 235px;
	padding: 22px;
	background: #4eadd3;
}

.main-contents-area02 .main-contents-box03 .main-notice-area .title-area {
	overflow: hidden;
	margin-bottom: 25px;
}

.main-contents-area02 .main-contents-box03 .main-notice-area .title-area h2 {
	float: left;
	color: #ffffff;
	font-size: 15px;
	line-height: 17px;
	font-weight: bold;
}

.main-contents-area02 .main-contents-box03 .main-notice-area .title-area a {
	float: right;
	margin-top: 2px;
}

.main-contents-area02 .main-contents-box03 .main-notice-area .title-area a img {
	display: block;
}

.main-contents-area02 .main-contents-box03 .main-notice-area ul {
	display: block;
}

.main-contents-area02 .main-contents-box03 .main-notice-area ul li {
	display: block;
}

.main-contents-area02 .main-contents-box03 .main-notice-area ul li a {
	display: block;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
	-o-text-overow: ellipsis;
	padding-left: 10px;
	margin-bottom: 8px;
	color: #fff;
	font-size: 13px;
	background: url(../make_img/main/icon_bullet02.png) no-repeat left 10px;
}

.main-contents-area02 .main-contents-box03 .main-notice-area ul li a:hover {
	text-decoration: underline;
}