.board-area {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0px solid red;
}


/* 게시판 목록 */
.board-search-area {
	margin-bottom: 15px;
}

.board-search-area:after {
	content: "";
	clear: both;
	display: block;
}

.board-area .total {
	font-size: 15px;
	color: #777779;
}

.board-area .total.left {
	float: left;

}

.board-search-area .board-search-box {
	float: right;
}

.board-search-area .board-search-box select {
	float: left;
	border: 1px solid #c0c1c3;
	height: 32px;
	padding-left: 12px;
	background: #fff;
	font-size: 15px;
	line-height: 32px;
	margin-right: 5px;
}

.board-search-area .board-search-box input[type="text"] {
	float: left;	
	border: 1px solid #c0c1c3;
	border-right: 0;
	border-right: 0;
	width: 130px;
	height: 30px;
	padding: 0 10px;
}

.board-search-area .board-search-box input[type="image"] {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	margin-left: -4px;
}

.board-list01 {
	margin-bottom: 50px;
}

.board-list01 table {
	border-collapse: collapse; 
	table-layout: fixed;
	border-top:  1px solid #eaeaea
}

.board-list01 table tbody {
	border: 0px solid red;
}

.board-list01 table tbody tr:hover {
	background: #f9f9f9;
}

.board-list01 table tbody tr.notice {
	background: #f9f9f9
}

.board-list01 table tbody td {
	padding: 20px 15px;
	text-align: center;
	border-bottom: 1px solid #eaeaea;
	color: #555559;
	font-size: 15px;
	cursor: pointer;
}

.board-list01 table tbody td.left {
	text-align: left;
}

.board-list01 table tbody td a {
	display: inline-block;
	vertical-align: middle;
	max-width: 84%;

	color: #555559;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
}

.board-list01 table tbody tr.notice td a {
	font-weight: bold;
}

.board-list01 table tbody td img {
	display: inline-block;
	vertical-align: middle;
}

.board-list02 {
	border: 0px solid red;
}

.board-list02 ul {
	margin:0;
	padding: 0;
}

.board-list02 ul li {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #dededf
}	

.board-list02 ul li a {
	display: block;
	position: relative;
	padding-left: 290px;
	padding-right: 150px;
	height: 170px;
	line-height: 170px;
	background: #fff;
}

.board-list02 ul li a:hover {
	background: #efefef
}

.board-list02 ul li a .image-webzin01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 170px;
}

.board-list02 ul li a .title {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	color: #111119;
}

.board-list02 ul li a .title img {
	display: inline-block;
	vertical-align: middle;
}

.board-list02 ul li a .date {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	text-align: center;
	color: #666669;
	font-size: 16px;
}


.board-list03 {

}
.board-list03 table {
	border-collapse: collapse; 
	table-layout: fixed;
	background: #fff;
}

.board-list03 table tr:hover {
	background: #f0f0f4;
}
.board-list03 table th  {
	padding: 12px 6px; 
	border-width: 0;
	font-size: 16px;
}

.board-list03 table thead th {
	color: #444449; 
	font-weight: 300; 
	text-align: center; 
	vertical-align: middle; 
	background: #f0f0f5
}

.board-list03 table tbody tr:hover {
	background: #f0f0f4
}

.board-list03 table tbody td {
	padding: 20px 15px;
	border-bottom: 1px solid #dededf;
	text-align: center;
	font-weight: 300;
	color: #666669;
	font-size: 16px;
	line-height: 22px;
}

.board-list03 table tbody td a {
	color: #333339;
	font-weight: 300;
}

.board-list03 table tbody td a:hover {
	text-decoration: underline;
}

.word-delay {
	font-size: 17px;
	color: #b6b7ba;
	font-weight: 300
}

.word-complate {
	font-size: 17px;
	color: #36a0e4;
	font-weight: 300
}

.word-cancel {
	font-size: 17px;
	color: #ff4a20;
	font-weight: 300
}

.reservation-information-area {
	background: #fff;
	padding: 40px;
	margin-bottom: 45px;
	border-bottom: 1px solid #dededf;
}

.reservation-information-area dl {
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 150px;
	font-size: 16px;
	line-height: 22px;
}

.reservation-information-area dl dt {
	float: left;
	margin-left: -150px;
	color: #333339;
	font-weight: 300
}

.reservation-information-area dl dd {
	color: #666669;
	font-weight: 300;
}

/* 페이징 네비게이션 */
.paging-navigation {
	clear: both; 
	text-align: center; 
	padding-bottom: 0;
	padding-bottom: 45px;
}
.paging-navigation a {
	display: block;
	display: inline-block; 
	line-height: 35px; 
	min-width: 25px; 
	height: 35px; 
	padding: 0 5px;
	margin: 0 2px;
	color: #4c4c50;
	vertical-align: middle; 
	background: #fff;
	border-radius: 35px;
	font-size: 12px;
	font-family: Verdana, "b돋움", Dotum, sans-serif;
}
.paging-navigation a:hover {
	color: #fff;
	background: #565c6c;
	font-family: Verdana, "돋움", Dotum, sans-serif;
	text-decoration: none;
}
.paging-navigation strong {
	display: block;
	display: inline-block; 
	line-height: 35px; 
	min-width: 25px; 
	height: 35px; 
	padding: 0 5px; 
	margin: 0 2px;
	color: #fff; 
	border-radius: 35px;
	font-family: Verdana, "돋움", Dotum, sans-serif;
	vertical-align: middle;
	background: #565c6c;
}
.paging-navigation a.btn-first {
	min-width: auto;
	width: 11px;
	padding: 0;
	text-indent: -5000em;
	background: #fff url(../make_img/board/btn_first.gif) no-repeat center center;
}
.paging-navigation a.btn-previous {
	min-width: auto;
	width: 11px;
	padding: 0;
	margin-right: 20px;
	text-indent: -5000em; 

	background: #fff url(../make_img/board/btn_previous.gif) no-repeat center center;
}
.paging-navigation a.btn-next {
	min-width: auto;
	width: 11px;
	padding: 0;
	margin-left: 20px;
	text-indent: -5000em; 

	background: #fff url(../make_img/board/btn_next.gif) no-repeat center center;
}
.paging-navigation a.btn-last {
	min-width: auto;
	width: 11px;
	padding: 0;
	text-indent: -5000em; 

	background: #fff url(../make_img/board/btn_last.gif) no-repeat center center;
}


/* 게시판 보기 */
.board-view01 {
	background: #fff;
	border-top: 1px solid #565c6c;
	margin-bottom: 50px;
}

.board-view01 .board-title-area {
	padding-top: 20px;
	border-bottom: 1px solid #565c6c;
}

.board-view01 .board-title-area h2 {
	display: block;
	font-size: 21px;
	line-height: 36px;
	font-weight: 400;
	padding: 0 10px;
	margin-bottom: 15px;
	color: #555559;
	font-weight: bold;
	word-break: break-all;
}

.board-view01 .board-title-area .board-title-box {
	overflow: hidden;
	font-size: 15px;
	color: #a5a5a5;
	padding: 0 10px 30px 10px;
	border-bottom: 1px solid #eaeaea;
}

.board-view01 .board-title-area .board-title-box .user-view-information {
	float: left;
}

.board-view01 .board-title-area .board-title-box .user-view-information .user {
	float: left;
	padding-right: 13px;
	margin-right: 13px;
	background: url(../make_img/board/icon_bar01.gif) no-repeat right center;
}


.board-view01 .board-title-area .board-title-box .user-view-information .date {
	float: left;
}

.board-view01 .board-title-area .board-title-box .hit {
	float: right;
}

.board-view01 .board-title-area .add-fime {
	position: relative;
	padding: 19px 10px 19px 80px; 
	font-size: 15px;
}

.board-view01 .board-title-area .add-fime dt {
	position: absolute;
	top: 19px;
	left: 10px;
	font-weight: bold;
}

.board-view01 .board-title-area .add-fime dd {
	display: block;
}

.board-view01 .board-title-area .add-fime dd .word-addfile {
	display: block;
}

.board-view01 .board-title-area .add-fime dd .word-addfile a {
	color: #666669;
}

.board-view01 .board-title-area .add-fime dd .word-addfile a:hover {
	text-decoration: underline;
}

.board-view01 .board-view-contents {
	padding: 40px 10px 100px 10px;
	font-size: 15px;
	line-height: 28px;
	color: #777779;
	border-bottom: 1px solid #eaeaea
}

.board-view01 .board-view-contents img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	margin-bottom: 40px;
}

.board-view-previous-next {
	margin: 0;
	padding: 0;
}

.board-view-previous-next li {
	border-bottom: 1px solid #eaeaea
}

.board-view-previous-next li a {
	display: block;
	height: 54px;
	line-height: 54px;
	overflow: hidden;
	color: #777779;
	font-size: 15px;
}

.board-view-previous-next li a:hover {
	background: #f9f9f9;
}

.board-view-previous-next li a .previous, 
.board-view-previous-next li a .next {
	float: left;
	width: 126px;
	padding-left: 9px;
	color: #111119
}

.board-view-previous-next li a .title {
	float: left;
	width: 760px;
	padding-right: 10px;

	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
}

.btns-area {
	overflow: hidden;
	text-align: center;
}

.btns-area .btns-left {
	float: left
}

.btns-area .btns-left .fl {
	float: left;
	margin: 0;
	margin-right: -1px;
}


.btns-area .btns-right {
	float: right
}

.btns-type01 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 40px;
	height: 38px; 
	line-height: 38px;
	padding: 0 20px;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	border: 1px solid #d3d4da;
	margin: 0 2px;
}

input[type="submit"].btns-type01 {
display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 80px;
	height: 38px; 
	line-height: 38px;
	padding: 0 20px;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	border: 1px solid #d3d4da;
	margin: 0 2px;
}


.btns-type01:hover,
input[type="submit"].btns-type01:hover {
	background: #d3d4da
}



.btns-type0102 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 40px;
	height: 46px; 
	line-height: 46px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	background: #1a7edf;
	border: 0;
	margin: 0 2px;
}

input[type="submit"].btns-type0102 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 80px;
	height: 46px; 
	line-height: 46px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	background: #1a7edf;
	border: 0;
	cursor: pointer;
	margin: 0 2px;
}


.btns-type0102:hover,
input[type="submit"].btns-type0102:hover {
	background: #186cbd
}


.btns-type02 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 40px;
	height: 38px; 
	line-height: 38px;
	padding: 0 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	background: #5a5f6d;
	border: 1px solid #434856;
	margin: 0 2px;
}

input[type="submit"].btns-type02 {
display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 80px;
	height: 38px; 
	line-height: 38px;
	padding: 0 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	background: #5a5f6d;
	border: 1px solid #434856;
	margin: 0 2px;
	cursor: pointer;

}


.btns-type02:hover,
input[type="submit"].btns-type02:hover {
	background: #434856
}

.btns-type02 img {
	display:  inline-block;
	vertical-align: middle;
}






.btns-type03 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 260px;
	height: 74px; 
	line-height: 74px;
	padding: 0 20px;
	color: #fff;
	font-size: 21px;
	text-align: center;
	background: #4386e1;
	border: 0;
	margin: 0 2px;
}

input[type="submit"].btns-type03 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 300px;
	height: 74px; 
	line-height: 74px;
	padding: 0 20px;
	color: #fff;
	font-size: 21px;
	text-align: center;
	background: #4386e1;
	border: 0;
	margin: 0 2px;
	cursor: pointer;
}


.btns-type03:hover,
input[type="submit"].btns-type03:hover {
	background: #1462ad
}




.btns-type04 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 260px;
	height: 74px; 
	line-height: 74px;
	padding: 0 20px;
	color: #fff;
	font-size: 21px;
	text-align: center;
	background: #50637e;
	border: 0;
	margin: 0 2px;
}

input[type="submit"].btns-type04 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 300px;
	height: 74px; 
	line-height: 74px;
	padding: 0 20px;
	color: #fff;
	font-size: 21px;
	text-align: center;
	background: #50637e;
	border: 0;
	margin: 0 2px;
}


.btns-type04:hover,
input[type="submit"].btns-type04:hover {
	background: #3c4a5f
}


.btns-type05 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 40px;
	height: 38px; 
	line-height: 38px;
	padding: 0 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	background: #728ba4;
	border: 1px solid #667e96;
	margin: 0 2px;
}

input[type="submit"].btns-type05 {
display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 80px;
	height: 38px; 
	line-height: 38px;
	padding: 0 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	background: #728ba4;
	border: 1px solid #667e96;
	margin: 0 2px;
	cursor: pointer;
}


.btns-type05:hover,
input[type="submit"].btns-type05:hover {
	background: #667e96
}

.btns-type05 img {
	display:  inline-block;
	vertical-align: middle;
	margin-left: 10px;
}







.board-write01 {
	border-collapse: collapse; 
	border-bottom: 1px solid #a4a4a4;
	margin-bottom: 45px;
}

.board-write01 dl {
	position: relative;
	padding-left: 155px;
	padding-bottom: 8px;
}

.board-write01 dl dt {
	position: absolute;
	top: 5px;
	left: 0;
	width: 135px;
	padding-left: 20px;
	color: #333339;
	font-weight: bold;
	font-size: 16px;
}

.board-write01 dl dd {
	min-height: 34px;
	font-size: 15px;
}

.board-write01 dl dd:after {
	content: "";
	clear: both;
	display: block;
}

.board-write01 dl dd select {
	display: inline-block;
	vertical-align: middle;
	height: 34px;
	padding-left: 5px;
	border: 1px solid #dedede;
	border-radius: 0;
}
.board-write01 dl dd input[type="checkbox"] {
	float: left;
	margin-top: 5px;
	border-radius: 0;
	/*
	-webkit-appearance: none;
	*/
}
.board-write01 dl dd strong {
	float: left;
	margin-left: 5px;
	width: 87.5%;
}


.board-write01 dl dd .secret-area {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

.board-write01 dl dd .secret-area input[type="checkbox"] {
	float: left;
	margin-top: 5px;
	border-radius: 0;
	/*
	-webkit-appearance: none;
	*/
}
.board-write01 dl dd .secret-area strong {
	float: left;
	margin-left: 5px;
	width: auto;
}

.board-write01 dl dd input[type="text"], 
.board-write01 dl dd input[type="password"],
.board-write01 dl dd input[type="email"] {
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	line-height: 32px;
	padding: 0 15px;
	border: 1px solid #dedede;
	-webkit-appearance: none;
}

.board-write01 dl dd input[type="text"]:focus, 
.board-write01 dl dd input[type="password"]:focus,
.board-write01 dl dd input[type="email"]:focus {
	background: #fff;
}

.board-write01 dl dd textarea {
	display: inline-block;
	vertical-align: middle;
	padding: 15px;
	width: 700px;
	height: 250px;
	border: 1px solid #dedede;
	-webkit-appearance: none;
	overflow-x: hidden;
	overflow-y: auto;
}


.board-write01 dl.writer-add-file {
	position: relative;
	padding-left: 155px;
	border: 0px solid red;
}	

.board-write01 dl.writer-add-file dt {
	position: absolute;
	top: 0;
	left: 0;
	width: 135px;
	padding-top: 15px;
	padding-left: 20px;
	color: #666666;
}

.board-write01 dl.writer-add-file dt label {
	display: inline-block;
	vertical-align: middle;
}

.board-write01 dl.writer-add-file dt a {
	display: inline-block;
	vertical-align: middle;
}

.board-write01 dl.writer-add-file dt a img {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
}

.board-write01 dl.writer-add-file dd {
	background: #fff;
	padding: 11px 0;
}

.board-write01 dl.writer-add-file dd .file-info {
	padding-bottom: 10px;
}

.board-write01 dl.writer-add-file dd .file-info input[type="checkbox"] {
	display:  inline-block;
	vertical-align: middle;
	float: none;
}

.board-write01 dl.writer-add-file dd .file-info label {
	display:  inline-block;
	vertical-align: middle;
}

.board-write01 dl.writer-add-file dd .file-info .btn-file-delete {
	display:  inline-block;
	vertical-align: middle;
	padding: 0 10px;
	height: 22px;
	line-height: 22px;
	background: #a1a5b0;
	color: #fff;
	font-size: 13px;
	margin-left: 10px;
}




.board-write01 dl.writer-add-file dd .file-box {
	padding-bottom: 10px;
}

.board-write01 dl.writer-add-file dd .file-box:after {
	content: "";
	clear: both;
	display: block;
}

.board-write01 dl.writer-add-file dd .file-box input[type="file"] {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	border-radius: 0;
	-webkit-appearance: none;

}



.btns-center {
	text-align: center;
}







/* 비밀글 비밀번호 입력 폼 */
.check-password-area {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	padding: 0 5%;
	z-index: 10000;
	background: url(../make_img/board/bg_01.png) repeat;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/bg_01@2x.png) repeat;
	background: linear-gradient(transparent, transparent), url(../make_img/board/bg_01@2x.png) repeat;
	background-size: 1px 1px;
}

.check-password-box {
	display: none;
	position: relative;
	top: 50%;
	left: 50%;
	width: 350px;
	min-height: 150px;
	padding: 25px;
	margin-top: -126px;
	margin-left: -201px;
	background: #fff;
	border: 1px solid #333333;
	text-align: center;
}
 
.check-password-box h2 {
	color: #3c3c3c;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 20px;
}

.check-password-box p {
	display: block;
	font-size: 15px;
	margin-bottom: 30px;
	text-align: center;
}

.check-password-box dl {
	position: relative;
	margin: 0;
	padding: 0;
	padding-left: 90px;
	padding-right: 70px;
	text-align: left;
}

.check-password-box dl dt,
.check-password-box dl dt label,
.check-password-box dl dd {
	display: inline-block;
	vertical-align: middle;
}

.check-password-box dl dt {
	position: absolute;
	top: 3px;
	left: 15px;
	color: #000000;
	font-size: 15px;
	font-weight: bold;
}

.check-password-box dl dd input[type="password"] {
	display: inline-block;
	vertical-align: middle;

	width: 95%;
	padding: 0 2.5%;
	height: 32px;
	border: 1px solid #dfdfdf;
	background: #fff;
}

.check-password-box dl dd input[type="password"]:focus {
	background: #f5f5f5;
}

.check-password-box dl dd input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	vertical-align: middle;

	width: 64px;
	height: 34px;
	border: none;
	color: #fff;
	background: #079bdb;
	text-align: center;
}

.check-password-box .btn-close {
	position: absolute;
	top: 17px;
	right: 19px;
}

.check-password-box .btn-close img {
	display: block;
	width: 23px;
	height: 23px;
}

.check-password-box .btn-ok {
	display: inline-block;
	vertical-align: middle;

	width: 64px;
	height: 24px;
	line-height: 24px;
	border: none;
	color: #fff;
	background: #079bdb;
	text-align: center;
}


.gallery-list {
	margin-bottom: 50px;
	border-top: 1px solid #eaeaea;
}

.gallery-list li {
	border-bottom: 1px solid #eaeaea;
}

.gallery-list a {
	position: relative;
	display: block;
	position: relative;
	padding: 25px 10px 25px 270px;
	min-height: 152px;
}

.gallery-list a:hover {
	background: #f9f9f9
}

.gallery-list a .image-gallery {
	position: absolute;
	top: 25px;
	left: 10px;
	width: 230px;
	height: 152px;
}

.gallery-list a .gallery-title {
	display: block;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 25px;
}

.gallery-list a .gallery-content {
	display: block;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 25px;
	color: #888889;
}

.gallery-list a .gallery-date {
	display: block;
	padding-left: 20px;
	height: 15px;
	line-height: 15px;
	color: #555559;
	font-family: "Verdana", Verdana, sans-serif;
	background: url(../make_img/board/icon_date.png) no-repeat left center;
}

.photo-list {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding-top: 25px;
	margin-bottom: 50px;
}

.photo-list ul {
	width: 936px;
}
.photo-list ul:after {
	content: "";
	clear: both;
	display: block;
}

.photo-list ul li {
	float: left;
	width: 204px;
	height: 266px;
	margin-right: 30px;
}

.photo-list ul li a {
	display: block;
	text-align: center;
}

.photo-list ul li a img {
	display: block;
	width: 204px;
	margin-bottom: 16px;
}

.photo-list ul li a .photo-title {
	display: block;
	font-size: 15px;
	margin-bottom: 15px;
	color: #444449;
}

.photo-list ul li a .photo-date {
	display: inline-block;
	vertical-align: middle;
	padding-left: 21px;
	height: 15px;
	line-height: 15px;
	font-size: 14px;
	color: #555559;
	font-family: "Verdana", Verdana, sans-serif;
	background: url(../make_img/board/icon_date.png) no-repeat 0 0;
}