@charset "utf-8";
/* reset */
@import url(reset.css);



html, body {
	height: 100%;
}
body { 
	text-align: center;
	width: 100%;
	font-size: 75%;
	font-family: "Apple Gothic", "맑은 고딕", '돋움', Apple Gothic, Malgun Gothic, dotum, sans-serif;
	color: #000;
	list-style: none;
	line-height: 1.7em;
	border: 0px solid blue;
	outline: 0;
}



/* 스킵네비게이션 */
.skip-navigation a {
	display: block; 
	height: 1px; 
	width: 1px; 
	margin: 0 -1px -1px 0; 
	padding: 0; 
	overflow: hidden; 
	font-size:0; 
	line-height:0;
}

.skip-navigation a:hover,
.skip-navigation a:active,
.skip-navigation a:focus {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 20px; 
	line-height: 20px; 
	vertical-align: middle; 
	font-size: 14px; 
	font-weight: bold; 
	text-align: center; 
	background: #000; 
	color: #fff;
	z-index: 1000000
}


.blind,
caption {
	visibility: hidden; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 0; 
	height: 0; 
	font-size: 0; 
	line-height: 0
}

.login-area {
	width: 500px;
	height: 520px;
	background: #f9f7f7;
	text-align: left;
}

.login-area .login-title {
	position: relative;
	height: 52px;
	line-height: 52px;
	background: #fff;
	font-size: 16px;
	color: #333339;
	text-align: center;
	border-top: 3px solid #6078ea;
	border-bottom: 1px solid #e5e5e5;
}

.login-area .login-title .btn-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 15px;
	height: 14px;
	line-height: 14px;
}

.login-area .login-title .btn-close img {
	display: inline-block;
	vertical-align: bottom;
	width: 15px;
	height: 14px;
}

.login-area .login-box {
	padding: 60px 73px 0 73px;
}

.login-area .login-box .choise-checkbox {
	padding-bottom: 23px;
}

.login-area .login-box .choise-checkbox input[type="radio"],
.login-area .login-box .choise-checkbox label {
	display: inline-block;
	vertical-align: middle;
}

.login-area .login-box .choise-checkbox label {
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 35px;
}


.login-area .login-box input[type="text"],
.login-area .login-box input[type="password"] {
	width: 313px;
	height: 48px;
	line-height: 48px;
	padding: 0 20px;
	border: 1px solid #d2d2d2;
	margin-bottom: 10px;
	border-radius: 3px;
}

.login-area .login-box input[type="submit"] {
	display: block;
	width: 355px;
	height: 50px;
	border: 1px solid #5068da;
	background: #6078ea;
	text-align: center;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	border-radius: 3px;
	margin-bottom: 35px;
}

.login-area .login-box input[type="submit"]:focus,
.login-area .login-box input[type="submit"]:hover {
	background: #5068da
}

.ul-list01 {
	margin: 0;
	padding: 0;
}

.ul-list01 li {
	padding-left: 10px;
	font-size: 15px;
	line-height: 24px;
	color: #777779;
	background: url(../images/icon_bullet03.gif) no-repeat left 11px;
}

.ul-list01 ul {
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
}

.ul-list01 ul li {
	padding-left: 16px;
	font-size: 15px;
	line-height: 24px;
	color: #777779;
	background: url(../images/icon_bullet04.gif) no-repeat left 11px;
}

.ul-list01 li img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.ul-list01 li a:hover {
	text-decoration: underline;
}


.point-color01 {
	color: #017adb;
}

.point-color02 {
	color: #444449;
}

.point-color03 {
	color: #4682b0;
}





.find-password-area {
	width: 650px;
	height: 100%;
	background: #f9f7f7;
	text-align: left;
}

.find-password-area .find-password-title {
	position: relative;
	height: 52px;
	line-height: 52px;
	background: #fff;
	font-size: 16px;
	color: #333339;
	text-align: center;
	border-top: 3px solid #6078ea;
	border-bottom: 1px solid #e5e5e5;
}

.find-password-area .find-password-title .btn-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 15px;
	height: 14px;
	line-height: 14px;
}

.find-password-area .find-password-title .btn-close img {
	display: inline-block;
	vertical-align: bottom;
	width: 15px;
	height: 14px;
}

.find-password-area .find-password-box {
	padding: 30px;
}

.find-password-area .find-password-box .choise-checkbox {
	padding-bottom: 23px;
}

.find-password-area .find-password-box .choise-checkbox input[type="radio"],
.find-password-area .find-password-box .choise-checkbox label {
	display: inline-block;
	vertical-align: middle;
}

.find-password-area .find-password-box .choise-checkbox label {
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 35px;
}


.find-password-area .find-password-box input[type="text"],
.find-password-area .find-password-box input[type="password"] {
	width: 95%;
	height: 38px;
	line-height: 38px;
	padding: 0 2.5%;
	border: 1px solid #d2d2d2;
	margin-bottom: 10px;
	border-radius: 3px;
}

.find-password-area .find-password-box input[type="submit"] {
	display: block;
	width: 100%;
	height: 50px;
	border: 1px solid #5068da;
	background: #6078ea;
	text-align: center;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	border-radius: 3px;
	margin-bottom: 35px;
}

.find-password-area .find-password-box input[type="submit"]:focus,
.find-password-area .find-password-box input[type="submit"]:hover {
	background: #5068da
}

.find-password-area .find-password-box .word-type01 {
	color: #777779;
	font-size: 14px;
	padding-bottom: 20px;
}

.wrapper {
	position: relative;
	margin: 0;
	padding: 0;	
	padding-top: 56px;
	text-align: left;
	font-size: 1em;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 52px;
	line-height: 52px;
	background: #fff;
	border-top: 3px solid #6078ea;
	border-bottom: 1px solid #e5e5e5;
	z-index: 100;
}

.header h1 {
	position: absolute;
	top: 14px;
	left: 30px;
}

.header h1 img {
	display: block;
	width: 130px;
	height: 25px;
}

.header h2 {
	text-align: center;
	font-size: 16px;
	color: #333339;
}

.header .btn-close {
	position: absolute;
	top: 21px;
	right: 23px;
	width: 15px;
	height: 14px;
	line-height: 14px;
}

.header .btn-close img {
	display: block;
	width: 15px;
	height: 14px;
}

.container {
	padding: 30px;
	height: 584px;
	overflow-x: hidden;
	overflow-y: auto;
}



.word-type01 {
	font-size: 15px;
	line-height: 24px;
	color: #444449;
	margin-bottom: 25px;
}

.word-type02 {
	font-size: 15px;
	line-height: 24px;
	color: #777779;
	margin-bottom: 25px;
}

.word-type03 {
	padding-left: 15px;
	font-size: 15px;
	color: #777779;

	margin-bottom: 20px;
	background: url(../images/icon_bullet04.png) no-repeat left 5px;;
}




.title0201 {
	padding-left: 14px;
	font-size: 20px;
	line-height: 22px;
	color: #333339;
	font-weight: bold;
	margin-bottom: 40px;
	background: url(../images/icon_bullet02.gif) no-repeat left 4px;
}


.title0202 {
	font-size: 22px;
	color: #222229;
	margin-bottom: 25px;
}

.title0301 {
	padding-left: 15px;

	font-size: 15px;
	color: #444449;
	font-weight: bold;

	margin-bottom: 20px;
	background: url(../images/icon_bullet04.png) no-repeat left 5px;;
}

.title0302 {
	font-size: 15px;
	color: #444449;
	margin-bottom: 20px;
}

.title0401 {
	padding-left: 15px;
	font-weight: bold;
	font-size: 15px;
	color: #444449;
	margin-bottom: 10px;
	background: url(../images/icon_lnb02_on.png) no-repeat 5px 10px;;
}

.t1 {
	border-top: 1px solid #a1a1a3;
}
.t1 table {
	border-collapse: collapse; 
}
.t1 table tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
.t1 table th, 
.t1 table td {
	padding: 12px; 
	border-width: 0;
	font-size: 16px;
}
.t1 table thead, 
.t1 table tfoot {}
.t1 table thead th {
	color: #333339; 
	font-weight: 300; 
	text-align: center; 
	vertical-align: middle; 
	background: #fbfbfb;
	border-right: 1px solid #e4e5e7;  
	border-bottom: 1px solid #e4e5e7
}

.t1 table thead th.bg-th {
	background: #f0f0f5;
}

.t1 table thead th.none,
.t1 table tbody th.none{
	border-right: none;
}

.t1 table tbody th {
	border: none; 
	text-align:center; 
	font-size: 14px;
	color: #333339; 
	background: #f5f5f5;
	border-right: 1px solid #e4e5e7; 
	border-bottom: 1px solid #e4e5e7;
}

.t1 table tbody th strong {
	color: #777779;
	font-weight: 400;
}

.t1 table td {
	border-bottom: 1px solid #e4e5e7; 
	border-right: 1px solid #e4e5e7; 
	color: #555559; 
	text-align: center; 
	font-size: 14px;
}
.t1 table tbody td.left {
	text-align:left; 
}
.t1 table tbody td.center {
	text-align:center; 
}
.t1 table tbody td.right {
	text-align:right; 
}
.t1 table tbody td.none {
	border-right: none;
}

.t1 table tbody td input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	width: 97%;
	height: 150px;
	padding: 0 1.5%;
	height: 28px;
	border: 1px solid #a7aeb9
}

.t1 table tbody td select {
	display: inline-block;
	vertical-align: middle;
	height: 150px;
	height: 30px;
	border: 1px solid #a7aeb9
}

.t1 table td textarea {
	display: block;
	width: 97%;
	height: 150px;
	padding: 1.5%;
	color: #a7aeb9;
	border: 1px solid #a7aeb9
}




.class-information-box {
	padding-top: 40px;
	padding-bottom: 50px;
	border-bottom: 1px solid #e9e9ea
}

.class-information-box.none {
	border-bottom: none;
}


.tabmenu01 {
	margin-bottom: 20px;
	background: url(../images/bg_tabmenu_line01.gif) repeat-x left top;
}

.tabmenu01:after {
	content: "";
	clear: both;
	display: block;
}

.tabmenu01 li {
	float: left;
	height:56px;
	background: url(../images/icon_bar01.gif) no-repeat right 55%;
}

.tabmenu01 li.none {
	background: transparent;
}

.tabmenu01 li a {
	display: block;
	height: 56px;
	line-height: 56px;
	padding: 0 20px;
	color: #333339;
	font-size: 16px;
}

.tabmenu01 li a.on,
.tabmenu01 li a:hover {
	color: #3658ec;
	background: url(../images/bg_tabmenu_on.gif) no-repeat center bottom;
}


.mt0 {margin-top: 0}
.mt05 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mt20 {margin-top: 20px}
.mt25 {margin-top: 25px}
.mt30 {margin-top: 30px}
.mt35 {margin-top: 35px}
.mt40 {margin-top: 40px}
.mt45 {margin-top: 45px}
.mt50 {margin-top: 50px}
.mt55 {margin-top: 55px}
.mt60 {margin-top: 60px}
.mt65 {margin-top: 65px}
.mt70 {margin-top: 70px}
.mt75 {margin-top: 75px}
.mt80 {margin-top: 80px}
.mt85 {margin-top: 85px}
.mt90 {margin-top: 90px}
.mt95 {margin-top: 95px}
.mt100 {margin-top: 100px}

.mb0 {margin-bottom: 0}
.mb05 {margin-bottom: 5px}
.mb10 {margin-bottom: 10px}
.mb15 {margin-bottom: 15px}
.mb20 {margin-bottom: 20px}
.mb25 {margin-bottom: 25px}
.mb30 {margin-bottom: 30px}
.mb35 {margin-bottom: 35px}
.mb40 {margin-bottom: 40px}
.mb45 {margin-bottom: 45px}
.mb50 {margin-bottom: 50px}
.mb55 {margin-bottom: 55px}
.mb60 {margin-bottom: 60px}
.mb65 {margin-bottom: 65px}
.mb70 {margin-bottom: 70px}
.mb75 {margin-bottom: 75px}
.mb80 {margin-bottom: 80px}
.mb85 {margin-bottom: 85px}
.mb90 {margin-bottom: 90px}
.mb95 {margin-bottom: 95px}
.mb100 {margin-bottom: 100px}

.ml0 {margin-left: 0}
.ml05 {margin-left: 5px}
.ml10 {margin-left: 10px}
.ml15 {margin-left: 15px}
.ml20 {margin-left: 20px}
.ml25 {margin-left: 25px}
.ml30 {margin-left: 30px}
.ml35 {margin-left: 35px}
.ml40 {margin-left: 40px}
.ml45 {margin-left: 45px}
.ml50 {margin-left: 50px}
.ml55 {margin-left: 55px}
.ml60 {margin-left: 60px}
.ml65 {margin-left: 65px}
.ml70 {margin-left: 70px}
.ml75 {margin-left: 75px}
.ml80 {margin-left: 80px}
.ml85 {margin-left: 85px}
.ml90 {margin-left: 90px}
.ml95 {margin-left: 95px}
.ml100 {margin-left: 100px}

.mr0 {margin-right: 0}
.mr05 {margin-right: 5px}
.mr10 {margin-right: 10px}
.mr15 {margin-right: 15px}
.mr20 {margin-right: 20px}
.mr25 {margin-right: 25px}
.mr30 {margin-right: 30px}
.mr35 {margin-right: 35px}
.mr40 {margin-right: 40px}
.mr45 {margin-right: 45px}
.mr50 {margin-right: 50px}
.mr55 {margin-right: 55px}
.mr60 {margin-right: 60px}
.mr65 {margin-right: 65px}
.mr70 {margin-right: 70px}
.mr75 {margin-right: 75px}
.mr80 {margin-right: 80px}
.mr85 {margin-right: 85px}
.mr90 {margin-right: 90px}
.mr95 {margin-right: 95px}
.mr100 {margin-right: 100px}


.pt0 {padding-top: 0}
.pt05 {padding-top: 5px}
.pt10 {padding-top: 10px}
.pt15 {padding-top: 15px}
.pt20 {padding-top: 20px}
.pt25 {padding-top: 25px}
.pt30 {padding-top: 30px}
.pt35 {padding-top: 35px}
.pt40 {padding-top: 40px}
.pt45 {padding-top: 45px}
.pt50 {padding-top: 50px}
.pt55 {padding-top: 55px}
.pt60 {padding-top: 60px}
.pt65 {padding-top: 65px}
.pt70 {padding-top: 70px}
.pt75 {padding-top: 75px}
.pt80 {padding-top: 80px}
.pt85 {padding-top: 85px}
.pt90 {padding-top: 90px}
.pt95 {padding-top: 95px}
.pt100 {padding-top: 100px}

.pb0 {padding-bottom: 0}
.pb05 {padding-bottom: 5px}
.pb10 {padding-bottom: 10px}
.pb15 {padding-bottom: 15px}
.pb20 {padding-bottom: 20px}
.pb25 {padding-bottom: 25px}
.pb30 {padding-bottom: 30px}
.pb35 {padding-bottom: 35px}
.pb40 {padding-bottom: 40px}
.pb45 {padding-bottom: 45px}
.pb50 {padding-bottom: 50px}
.pb55 {padding-bottom: 55px}
.pb60 {padding-bottom: 60px}
.pb65 {padding-bottom: 65px}
.pb70 {padding-bottom: 70px}
.pb75 {padding-bottom: 75px}
.pb80 {padding-bottom: 80px}
.pb85 {padding-bottom: 85px}
.pb90 {padding-bottom: 90px}
.pb95 {padding-bottom: 95px}
.pb100 {padding-bottom: 100px}

.pl0 {padding-left: 0}
.pl05 {padding-left: 5px}
.pl10 {padding-left: 10px}
.pl15 {padding-left: 15px}
.pl20 {padding-left: 20px}
.pl25 {padding-left: 25px}
.pl30 {padding-left: 30px}
.pl35 {padding-left: 35px}
.pl40 {padding-left: 40px}
.pl45 {padding-left: 45px}
.pl50 {padding-left: 50px}
.pl55 {padding-left: 55px}
.pl60 {padding-left: 60px}
.pl65 {padding-left: 65px}
.pl70 {padding-left: 70px}
.pl75 {padding-left: 75px}
.pl80 {padding-left: 80px}
.pl85 {padding-left: 85px}
.pl90 {padding-left: 90px}
.pl95 {padding-left: 95px}
.pl100 {padding-left: 100px}

.pr0 {padding-right: 0}
.pr05 {padding-right: 5px}
.pr10 {padding-right: 10px}
.pr15 {padding-right: 15px}
.pr20 {padding-right: 20px}
.pr25 {padding-right: 25px}
.pr30 {padding-right: 30px}
.pr35 {padding-right: 35px}
.pr40 {padding-right: 40px}
.pr45 {padding-right: 45px}
.pr50 {padding-right: 50px}
.pr55 {padding-right: 55px}
.pr60 {padding-right: 60px}
.pr65 {padding-right: 65px}
.pr70 {padding-right: 70px}
.pr75 {padding-right: 75px}
.pr80 {padding-right: 80px}
.pr85 {padding-right: 85px}
.pr90 {padding-right: 90px}
.pr95 {padding-right: 95px}
.pr100 {padding-right: 100px}

