@charset "utf-8";
/* 스타일 초기화 */

/* 요소(element) 여백 초기화  */
* {
	margin:0;
	padding:0;
}
a {color: #868585; text-decoration: none;}
a:link {text-decoration: none;}
a:hover {text-decoration: none;}
a:action {text-decoration: none;}

/* 제목요소 */
h1, h2, h3, h4, h5, h6 {  
	font-size:100%;   
	font-weight:normal;   
	} 

/* 테두리 없애기 */
fieldset, img, abbr,acronym { 
	border:0 none; 
	} 

/* 목록 불릿 없애기 */
ol, ul { list-style:none;}

/* 테이블 - 마크업에 'cellspacing="0"' 지정 함께 필요 */
table {
	border-collapse: collapse;
	border-spacing:0;
	border:0 none;
	}
caption, th, td {
	text-align:left;
	font-weight: normal;
	}

/* 텍스트 관련 요소 초기화 */
address, caption, em {
	font-weight:normal;
	font-style:normal;
	}

/* 수평선*/
hr {display: none; }


select,
input,
textarea {
	font-family: "Apple Gothic", "맑은 고딕", '돋움', Apple Gothic, Malgun Gothic, dotum, sans-serif;
	font-weight: 300;
	color: #777777;
}
