input[type="submit"].btns,
.btns {
	display: inline-block;
	vertical-align: middle;
	height: 27px;
	line-height: 27px;
	padding: 0 2.5%;
	margin-bottom: 12px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	cursor: pointer;
}

input[type="submit"].btns02,
.btns02 {
	display: inline-block;
	vertical-align: middle;
	min-width: 25px;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	color: #fff;
	font-weight: bold;
	border: 0;
	cursor: pointer;
}



.btns-color01 {
	background-color: #62748d;
	border-bottom: 1px solid #40526c
}

.btns-color02 {
	background-color: #6f7a88
}

.btns-color03 {
	background-color: #079bdb
}


/* 게시판 */
.board-area {
	position: relative;
	border: 0px solid red;
}
.board-area .total {
	float: left;
}
.board-area .search-wrapper {
	float: right;
	border: 0px solid red;
}

.board-area .search-area {
	text-align: right;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

.board-area .search-area.fl {
	float: left;
}

.board-area .search-area select {
	position: static;
	display: inline-block;
	vertical-align: middle;
	width: 134px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #e6e6e6;
	border-radius: 0;
}

.board-area .search-area .search-box {
	display: inline-block;
	vertical-align: middle;

}


.board-area .search-area .search-box input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #e6e6e6;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	width: 220px;
	background: #fff;
	border-radius: 0;
	-webkit-appearance: none;

}

.board-area .search-area .search-box input[type="text"]:focus {
	background: #e6e6e6;
	border: 1px solid #e6e6e6;
}

.board-area .search-area .search-box input[type="submit"] {
	position: static;
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
	color: #fff;
	width: 60px;
	border-radius: 0;
	border: 0;
	text-align: left;
	-webkit-appearance: none;
	cursor: pointer;
	text-align: center;
	background: #545861;
	margin-left: -6px;
}

/* 게시판 목록 */
.board-list01 {
	border-top: 2px solid #617782;
	border-collapse: collapse; 
}
.board-list01 tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
.board-list01 table tr:hover {
	background: #f9f9f9;
}

.board-list01 tr.notice {
	background: #f8f7f2;
}

.board-list01 tbody tr.ans {
	display: none;
	text-align: left;
	background: #efefef;
	font-weight: bold;
}

.board-list01 tbody tr.ans:hover {
	background: transparent;
}

.board-list01 tbody tr.ans td {
	text-align: left;
}


.board-list01 table th, 
.board-list01 table td {
	border-width: 0;
}
.board-list01 table thead, .board-list01 table tfoot {}
.board-list01 table thead th {
	color: #fff;
	padding: 15px 6px; 
	font-weight: bold; 
	font-size: 14px;
	text-align: center; 
	vertical-align: middle; 
	background: #617782;
	border-bottom: 1px solid #cbcbcb
} 
.board-list01 table tbody td {
	border-bottom: 1px solid #dddddd; 
	color: #545454; 
	text-align: center; 
	padding: 10px 6px;
}
.board-list01 table tbody td a {
	color: #545454;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}
	
.board-list01 table tbody td a .comment-hit {
	color: #f56300
}

.board-list01 table tbody td .icon-reply {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 9px;

	text-indent: -5000em;
	background: transparent url(../make_img/board/icon_reply.gif) no-repeat 0 0;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/icon_reply@2x.gif) no-repeat 0 0;
	background: linear-gradient(transparent, transparent), url(../make_img/board/icon_reply@2x.gif) no-repeat 0 0;
	background-size: 13px 9px;
}

.board-list01 table tbody td .icon-notice {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 20px;
	line-height: 17px;
	text-align: center;
	margin-right: 5px;

	color: #fff;
	font-size: 12px;
	background: #079adf;
}

.board-list01 table tbody td .icon-secret {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 14px;
	margin-right: 5px;
	text-indent: -5000em;
	background: transparent url(../make_img/board/icon_secret.gif) no-repeat right 0;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/icon_secret@2x.gif) no-repeat right 0;
	background: linear-gradient(transparent, transparent), url(../make_img/board/icon_secret@2x.gif) no-repeat right 0;
	background-size: 12px 14px;
}

.board-list01 table tbody td .icon-new {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	margin-left: 5px;

	color: #fff;
	font-size: 12px;
	background: #f46500;
}

.board-list01 table tbody td.right-line {
	border-right: 1px solid #f2f2f2
}

.board-list01 table tbody td.notice {
	width: 8%;
}

.board-list01 table tbody td.number {
	width: 8%;
}

.board-list01 table tbody td.affiliate {
	width: 12%; 
	color: #e84a4e
}

.board-list01 table tbody td.image {
	width: 20%; 
}
.board-list01 table tbody td.image img {
	display: inline-block;
	vertical-align: middle;
	max-width: 180px;
	width: 100%;
}

.board-list01 table tbody td.date {
	width: 10%;
}

.board-list01 table tbody td.writer {
	width: 10%;
}
.board-list01 table tbody td.file {
	width: 8%;
}

.board-list01 table tbody td.hit {
	width: 5%;
}
.board-list01 table tbody td.number {
	width: 10%;
}
.board-list01 table tbody td.support {
	width: 10%;
}
.board-list01 table tbody td.title {
	width: 45%; 
	text-align: left;
}

.board-list01 table tbody td.title02 {
	width: 67%; 
	text-align: left;
}

.board-list01 table tbody td.title03 {
	width: 75%; 
	text-align: left;
}


.board-list01 table tbody td.left {
	text-align:left; 
}
.board-list01 table tbody td.center {
	text-align:center; 
}
.board-list01 table tbody td.right {
	text-align:right; 
}

.board-list01 table tbody td .mobile-notice-icon {
	display: none;
}


.board-list01 table tbody td .mobile-info {
	display: none;
}




/* 페이징 네비게이션 */
.paging-navigation {
	clear: both; 
	text-align: center; 
	padding-bottom: 0;
	margin-top: 70px;
	*border: 1px solid #fff;
}
.paging-navigation a {
	display: inline-block; 
	line-height: 35px; 
	min-width: 29px; 
	height: 35px; 
	padding: 0 3px;
	margin: 0 2px;
	color: #4c4c50;
	border: 1px solid #c5c7cc; 
	vertical-align: middle; 
	background: #fff;
	font-family: Verdana, "돋움", Dotum, sans-serif;
}
.paging-navigation a:hover {
	border: 1px solid #636363; 
	color: #fff;
	background: #636363;
	font-family: Verdana, "돋움", Dotum, sans-serif;
	text-decoration: none;
}
.paging-navigation strong {
	display: inline-block; 
	line-height: 35px; 
	min-width: 29px; 
	height: 35px; 
	padding: 0 3px; 
	border: 1px solid #636363; 
	color: #fff; 
	font-family: Verdana, "돋움", Dotum, sans-serif;
	vertical-align: middle;
	background: #636363;
}
.paging-navigation a.btn-first {
	text-indent: -5000em;

	background: transparent url(../make_img/board/btn_first.gif) no-repeat center center;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_first@2x.gif) no-repeat center center;
	background: linear-gradient(transparent, transparent), url(../make_img/board/btn_first@2x.gif) no-repeat center center;
	background-size: 12px 10px;
}
.paging-navigation a.btn-preview {
	text-indent: -5000em; 

	background: transparent url(../make_img/board/btn_previous.gif) no-repeat center center;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_previous@2x.gif) no-repeat center center;
	background: linear-gradient(transparent, transparent), url(../make_img/board/btn_previous@2x.gif) no-repeat center center;
	background-size: 6px 10px;
}
.paging-navigation a.btn-next {
	text-indent: -5000em; 

	background: transparent url(../make_img/board/btn_next.gif) no-repeat center center;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_next@2x.gif) no-repeat center center;
	background: linear-gradient(transparent, transparent), url(../make_img/board/btn_next@2x.gif) no-repeat center center;
	background-size: 6px 10px;
}
.paging-navigation a.btn-last {
	text-indent: -5000em; 

	background: transparent url(../make_img/board/btn_last.gif) no-repeat center center;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_last@2x.gif) no-repeat center center;
	background: linear-gradient(transparent, transparent), url(../make_img/board/btn_last@2x.gif) no-repeat center center;
	background-size: 12px 10px;
}



.board-view {
	overflow: hidden;
	border-top: 2px solid #545861;
}

.board-view dl {
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;

}

.board-view dl.none {
	border-bottom: 0;
}

.board-view dl dt {
	float: left;
	width: 8%;
	min-height: 16px;
	padding-left: 2%;
	padding-top: 18px;
	padding-bottom: 16px;
	color: #636363;
	font-weight: bold;
}

.board-view dl dd {
	width: 88%;
	padding-right: 2%;
	min-height: 16px;
	padding-top: 18px;
	padding-bottom: 16px;
	color: #545454;
	font-size: 14px;
}

.board-view dl dd a.add-file {
	display: block;
	min-width: 100px;
	padding: 5px 0 5px 20px;
	background: url(../make_img/board/icon_file.png) no-repeat left center;
	text-decoration: underline;
	color: #767676;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
	-o-text-overow: ellipsis;

}

.board-view dl.half-box01 {
	float: left; 
	width: 60%;
}

.board-view dl.half-box01 dt {
	float: left;
	width: 16%;
	padding-left: 4%;
}

.board-view dl.half-box01 dd {
	float: left;
	width: 78%;
	
}

.board-view dl.half-box02 {
	float: left; 
	width: 40%;
}

.board-view dl.half-box02 dt {
	float: left;
	width: 25%;
	padding-left: 4%;
}

.board-view dl.half-box02 dd {
	float: left;
	width: 69%;
}

.board-contents {
	position: relative;
	border-top: 1px solid #545861;
	margin-top: -1px;
	padding: 27px 0 48px 0;
	line-height: 24px;
	color: #545454;
	overflow: auto;
}

.board-contents img {
	display: block;
	margin: 20px auto;
	max-width: 100%;
}


.a-reply-area {
	position: relative;
	margin-top: 47px;
	overflow: hidden;
	padding-left: 130px;
	border-top: 1px solid #0f0f0f;
	border-bottom: 1px solid #0f0f0f;
	background: #f8f8f8;
}

.a-reply-area dt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	padding: 35px 15px;
	text-align: center;
	font-size: 16px;
}

.a-reply-area dt span {
	display: block;
	font-size: 13px;
}

.a-reply-area dd {
	padding: 35px 15px ;
	width: 864px;
	background: #fff;
	color: #999999;

}

.preview-next {
	border-top: 1px solid #0f0f0f;
	border-bottom: 1px solid #0f0f0f;
}

.preview-next a {
	display: block;
	color: #545454;
}

.preview-next a.line {
	border-bottom: 1px solid #d3d3d3
}

.preview-next a dl {
	position: relative;
	display: block;
	padding-left: 107px;
}

.preview-next a:hover {
	background: #f9f9f9;
}

.preview-next a dl dt {
	position: absolute;
	top: 0;
	left: 0;
	width: 88px;
	height: 55px;
	line-height: 55px;
	padding-left: 19px;
	color: #636363;
}


.preview-next a dl dt.preview {
	font-weight: bold;

	background: transparent url(../make_img/board/icon_arrow_up.gif) no-repeat 71px center;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/icon_arrow_up@2x.gif) no-repeat 71px center;
	background: linear-gradient(transparent, transparent), url(../make_img/board/icon_arrow_up@2x.gif) no-repeat 71px center;;
	background-size: 7px 4px;	
}

.preview-next a dl dt.next {
	font-weight: bold;

	background: transparent url(../make_img/board/icon_arrow_down.gif) no-repeat 71px center;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/icon_arrow_down@2x.gif) no-repeat 71px center;
	background: linear-gradient(transparent, transparent), url(../make_img/board/icon_arrow_down@2x.gif) no-repeat 71px center;;
	background-size: 7px 4px;	

}

.preview-next a dl dd {
	height: 55px;
	line-height: 55px;
	display: block;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
	-o-text-overow: ellipsis;; 
}


/* 게시판 목록 */
.board-view02 {
	border-top: 2px solid #444547;
	border-bottom: 1px solid #444547;
}

.board-view02 table {
	table-layout: fixed;
	border-collapse: collapse; 
}

.board-view02 table tbody th {
	color: #333333;
	font-size: 15px;
	width: 110px;
	padding: 15px 30px; 
	font-weight: bold; 
	text-align: left; 
	vertical-align: middle; 
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
} 
.board-view02 table tbody td {
	border-bottom: 1px solid #e5e5e5; 
	color: #767676; 
	text-align: left; 
	padding: 10px 30px;
}
.board-view02 table tbody td .product-info-area {
	padding-top: 20px;
	font-size: 14px;
	line-height: 24px;
	color: #767676;
}

.board-view02 table tbody td .product-info-area dt,
.board-view02 table tbody td .product-info-area dd {
	display: inline;
}

.board-view02 table tbody td .photo {
	display: block;
}

.board-view02 table tbody td .photo img {
	display: block;
	max-width: 100%;
}


/* 글쓰기 */

.board-info01 {
	margin-bottom: 20px;
	color: #000000
}

.board-info01 li {
	position: relative;
	padding-left: 15px;
}

.board-info01 li span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}


.board-info01 li strong {
	color: #ff0000;
}

.board-write {
	border-collapse: collapse; 
	border-top: 2px solid #545861;
	border-bottom: 1px solid #333333
}

.board-write dl {
	position: relative;
	padding-left: 111px;
	border-bottom: 1px solid #e3e3e3;
}

.board-write dl dt {
	position: absolute;
	top: 50%;
	left: 0;
	width: 91px;
	margin-top: -8px;
	padding-left: 20px;
	color: #636363;
	font-weight: bold;
}

.board-write dl dd {
	padding: 11px 11px 11px 0; 
}

.board-write dl dd select {
	display: inline-block;
	vertical-align: middle;
	height: 26px;
	padding-left: 5px;
	border: 1px solid #dedede;
	background: #f4f4f4;
	border-radius: 0;
	/*
	-webkit-appearance: none;
	*/
}
.board-write dl dd input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
	border-radius: 0;
	/*
	-webkit-appearance: none;
	*/
}

.board-write dl dd .secret-area {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.board-write dl dd input[type="text"], 
.board-write dl dd input[type="password"],
.board-write dl dd input[type="email"]
{
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	padding: 0 5px;
	width:  95%;
	border: 1px solid #dedede;
	background: #f4f4f4;
	border-radius: 0;
	-webkit-appearance: none;

	font-family: "NanumBarunGothic", "나눔바른고딕", NanumBarunGothic, "돋움", Dotum, sans-serif;
}

.board-write dl dd input[type="text"]:focus, 
.board-write dl dd input[type="password"]:focus,
.board-write dl dd input[type="email"]:focus {
	background: #fff;
}

.board-write dl dd input[type="text"].w30, 
.board-write dl dd input[type="password"].w30,
.board-write dl dd input[type="email"].w30 {
	width: 30%;
}

.board-write dl dd input[type="text"].w50, 
.board-write dl dd input[type="password"].w50,
.board-write dl dd input[type="email"].w50 {
	width: 50%;
}

.board-write dl dd input[type="text"].w70, 
.board-write dl dd input[type="password"].w70,
.board-write dl dd input[type="email"].w70 {
	width: 70%;
}

.editer-area {
	padding-top: 10px;
	height: 330px;
	border-top: 1px solid #545861;
}

.board-write dl.writer-add-file {
	position: relative;
	background: #f6f6f6;
	padding-left: 150px;
	border: 0px solid red;
}	

.board-write dl.writer-add-file dt {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	padding-top: 25px;
	padding-left: 40px;
	color: #666666;
}

.board-write dl.writer-add-file dt label {
	display: inline-block;
	vertical-align: middle;
}

.board-write dl.writer-add-file dt a {
	display: inline-block;
	vertical-align: middle;
}

.board-write dl.writer-add-file dt a img {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
}

.board-write dl.writer-add-file dd {
	background: #fff;
	padding: 11px 15px;
}


.board-write dl.writer-add-file dd.file-info-area {
	border-bottom: 1px solid #dedede	
}

.board-write dl.writer-add-file dd.file-info-area .file-info {
	padding: 4px 0;
	font-size: 13px;
	width: 100%;
	overflow: hidden;
}

.board-write dl.writer-add-file dd.file-info-area .file-info label {
	display: inline-block;
	vertical-align: middle;

	max-width: 50%;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
	-o-text-overow: ellipsis;
	border: 0px solid red;
	margin-right: 10px;
}

.board-write dl.writer-add-file dd.file-info-area .file-info input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;

	margin-right: 10px;
}

.board-write dl.writer-add-file dd.file-info-area .file-info .btn-file-delete {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 10px;
	height: 14px;
	line-height: 14px;
	background: #079bdb;
	color: #fff;
}


.board-write dl.writer-add-file dd p.file-notice {
	clear: both;
	overflow: hidden;
	margin-bottom: 5px;
	border: 0px solid red;
}

.board-write dl.writer-add-file dd .file-box {
	padding: 2px 0 3px 0;
}

.board-write dl.writer-add-file dd .file-box:after {
	content: "";
	clear: both;
	display: block;
}

.board-write dl.writer-add-file dd .file-box input[type="file"] {
	display: inline-block;
	vertical-align: middle;
	border-radius: 0;
	-webkit-appearance: none;
}

.board-write dl.writer-add-file dd .file-box .alt-area {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}


.btn-center {
	overflow: hidden;
	padding-top: 20px;
	text-align: center;
}
.btn-right {
	overflow: hidden;
	padding-top: 20px;
	text-align: right;
}

.no-mobile-support {
	display: none;
}

.photo-list {	
	position: relative;
	left: 0.5%;
}

.photo-list ul {
	overflow: hidden;
	border: 0px solid red;
}

.photo-list ul li {
	float: left;
	width: 24%;
	margin: 0 0.5%;
	min-height: 280px;
	padding-bottom: 20px;
	text-align: center;
}

.photo-list ul li a {
	display: block;
	font-size: 14px;
	color: #666666;
	border: 0px solid red;	
}

.photo-list ul li a .image {
	display: block;
	border: 1px solid #cdcdcd;
	padding: 15px;
}

.photo-list ul li a .image img {
	display: block;
	width: 100%;
}

.photo-list ul li a .date {
	margin-top: 35px;
	display: block;
	text-align: center;
}

.photo-list ul li a .title {
	display: block;
	text-align: center;
}

/* 코멘트 */
.comment-area {
	margin-top: 35px;
	border-top: 1px solid #969696;
}

.comment-area .comment-box {
	border-top: 1px solid #e4e6e8;
	border-bottom: 1px solid #e4e6e8;
	margin-bottom: -1px;
}

.comment-area .comment-box .comment-info-area {
	padding: 10px 15px;
	font-size: 13px;
	background: #f9f9f9;
	color: #858585;
	border-bottom: 1px solid #e4e6e8;
	overflow: hidden;
}

.comment-area .comment-box .comment-info-area .comment-user {
	float: left;
	font-weight: bold;
	font-size: 13px;
	color: #444;
	padding-top: 3px;
}

.comment-area .comment-box .comment-info-area .comment-user-info {
	float: right;
}

.comment-area .comment-box .comment-info-area .comment-user-info .comment-date {
	float: left;
	font-size: 12px;
	padding-top: 3px;
}

.comment-area .comment-box .comment-info-area .comment-user-info .comment-btns-list {
	float: left;
	margin-left: 20px;
	margin-top: 2px;
}
.comment-area .comment-box .comment-info-area .comment-user-info .comment-btns-list li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.comment-area .comment-box .comment-info-area .comment-user-info .comment-btns-list li input[type="image"] {
	display: inline-block;
	height: 24px;
	border-radius: 0;
	-webkit-appearance: none;
}



.comment-area .comment-box .comment-contents {
	padding: 10px;
}

.comment-area .comment-form-wrapper {

	margin-bottom: 20px;
	padding: 20px 0 20px 20px;
	border: 1px solid #e4e6e8;
	background: #f9f9f9;
	text-align: left;
	overflow: hidden;
}
.comment-area .comment-form-wrapper .comment-form {
	position: relative;
	padding-right: 100px;
}

.comment-area .comment-form-wrapper .comment-user-info-form {
	padding-bottom: 10px;
}

.comment-area .comment-form-wrapper .comment-user-info-form label {
	display: inline-block;
	vertical-align: middle;
	color: ##636363;
	font-weight: bold;

}

.comment-area .comment-form-wrapper .comment-user-info-form input[type="text"],
.comment-area .comment-form-wrapper .comment-user-info-form input[type="password"] {
	border: 1px solid #e4e6e8;
	height: 22px;
	padding: 0 5px;
	max-width: 150px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	-webkit-appearance: none;
}

.comment-area .comment-form-wrapper .comment-user-info-form input[type="text"] {
	margin-right: 5%;
}


.comment-area .comment-form textarea {
	border: 1px solid #e4e6e8;
	width: 97%;
	height: 50px;
	padding: 5px 1%;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	-webkit-appearance: none;
}

.comment-area .comment-form .btn-comment-save {
	position: absolute;
	bottom: 0px;
	right: 20px;
	display: inline-block;
	vertical-align: bottom;
	width: 70px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	background: #079bdb;
	font-weight: bold;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-appearance: none;

}

.comment-area .modify-area {
	clear: both;
	display: block;
}

.comment-area .modify-area .comment-form {
	position: relative;
	padding: 10px 0 0 0;
	padding-right: 80px;
	border: 0px solid #e4e6e8;
	background: #f9f9f9;
	text-align: left;
	overflow: hidden;
}

.comment-area .modify-area .btn-comment-save {
	position: absolute;
	top: 10px;
	right: 0px;
	display: inline-block;
	vertical-align: bottom;
	width: 70px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background: #079bdb;
	border-radius: 0;
	-webkit-appearance: none;

}


/* 비밀글 비밀번호 입력 폼 */
.check-password-area {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;

	background: url(../make_img/board/bg_01.png) repeat;
	background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/bg_01@2x.png) repeat;
	background: linear-gradient(transparent, transparent), url(../make_img/board/bg_01@2x.png) repeat;
	background-size: 1px 1px;
}

.check-password-box {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 448px;
	min-height: 212px;
	margin-left: -225px;
	margin-top: -107px;
	padding-top: 63px;
	background: #fff;
	border: 1px solid #333333;
	text-align: center;
}
 
.check-password-box h2 {
	color: #3c3c3c;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 20px;
	font-family: "NanumBarunGothicBold", "나눔바른고딕 Bold", NanumBarunGothicBold, "돋움", Dotum, sans-serif;
}

.check-password-box p {
	display: block;
	margin-bottom: 30px;
}

.check-password-box p .span-br {
	display: block;
}

.check-password-box dl {
	
}

.check-password-box dl dt,
.check-password-box dl dt label,
.check-password-box dl dd {
	display: inline-block;
	vertical-align: middle;
}

.check-password-box dl dt {
	margin-right: 10px;
	color: #000000;
}

.check-password-box dl dd input[type="text"] {
	display: inline-block;
	vertical-align: middle;

	width: 144px;
	padding: 0 5px;
	height: 22px;
	border: 1px solid #dfdfdf;
	background: #fff;
}

.check-password-box dl dd input[type="text"]:focus {
	background: #f5f5f5;
}

.check-password-box dl dd input[type="submit"] {
	display: inline-block;
	vertical-align: middle;

	width: 64px;
	height: 24px;
	border: none;
	color: #fff;
	background: #079bdb;
	text-align: center;
	cursor: pointer;
}

.check-password-box .btn-close {
	position: absolute;
	top: 17px;
	right: 19px;
}

.check-password-box .btn-close img {
	display: block;
	width: 23px;
	height: 23px;
}

.check-password-box .btn-ok {
	display: inline-block;
	vertical-align: middle;

	width: 64px;
	height: 24px;
	line-height: 24px;
	border: none;
	color: #fff;
	background: #079bdb;
	text-align: center;
}

@media all and (min-width: 620px) and (max-width: 1023px) {

	.board-area {
		*overflow: hidden;
		border: 0px solid red;
	}



	.btns-color04 {
		width: 100%;
		color: #fff;
		background: #333333
	}

	.btns-color04.ml05 {
		margin-left: 0;
	}

	.btns-color05 {
		width: 100%;
		color: #fff;
		background: #748d9a;
		margin-top: 5px;
	}

	.btns-color05.fl {
		margin-left: 0;
	}

	.total {
		clear: both;
		float: none;
	}
	.board-area .search-wrapper {
		clear: both;
		float: none;
	}

	.board-area .search-area {
		position: relative;
		padding-bottom: 10px;
		text-align: left;
	}

	.board-area .search-area.fl {
		float: none;
	}

	.board-area .search-area select {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 25px;
		line-height: 25px;
		border: 1px solid #a9a9a9;
		font-family: "나눔바른고딕", "나눔고딕", NanumBarunGothic, NanumGothic,"돋움", Dotum, sans-serif;
		border-radius: 0;
		margin-bottom: 10px;
		border-radius: 0;
	}

	.board-area .search-area .search-box {
		display: block;
		position: relative;
		padding: 0;
		padding-right: 100px;
		margin: 0;
		text-align: left;
	}

	.board-area .search-area .search-box input[type="text"] {
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #dfdfdf;
		height: 23px;
		line-height: 23px;
		width: 100%;
		font-size: 15px;
		background: #fff;
		border-radius: 0;
		-webkit-appearance: none;
		font-family: "나눔바른고딕", "나눔고딕", NanumBarunGothic, NanumGothic,"돋움", Dotum, sans-serif;
	}

	.board-area .search-area .search-box input[type="text"]:focus {
		display: inline-block;
		vertical-align: middle;
		background: #dfdfdf;
		border: 1px solid #dfdfdf;
	}

	.board-area .search-area .search-box input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		vertical-align: middle;
		height: 25px;
		line-height: 25px;
		color: #fff;
		width: 80px;
		border-radius: 0;
		border: 0;
		text-align: center;
		-webkit-appearance: none;
		cursor: pointer;

	}

	.board-area .search-area input[type="submit"]:flat {
		display: inline-block;
		vertical-align: middle;
		height: 25px;
		line-height: 25px;
		color: #fff;
		width: 80px;
		padding: 0;
		border-radius: 0;
		border: 0;
		text-align: center;
		-webkit-appearance: none;
	}


	/* 게시판 목록 */
	.board-list01 table {
		border-collapse: collapse; 
		border-top: 2px solid #444547;
	}
	.board-list01 table tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
	.board-list01 table tr:hover {
		background: #f9f9f9;
	}
	.board-list01 table th, 
	.board-list01 table td {
		border-width: 0;
	}
	.board-list01 table thead, .board-list01 table tfoot {}
	.board-list01 table thead th {
		display: none;
	} 
	.board-list01 table tbody td {
		border-bottom: 1px solid #dddddd; 
		color: #545454; 
		text-align: center; 
		padding: 20px 6px;
	}
	.board-list01 table tbody td a {
		display: inline-block;
		max-width: 80%;
		overflow: hidden;
		white-space: nowrap; 
		text-overflow: ellipsis; 
		-o-text-overow: ellipsis;
	}

	
	.board-list01 table tbody td.image {
		width: 40%; 
	}
	.board-list01 table tbody td.image img {
		display: inline-block;
		vertical-align: middle;
		max-width: 180px;
		width: 100%;
	}

	.board-list01 table tbody td .mobile-notice-icon {
		display: inline-block;
		font-weight: bold;
		color: #748d9a;

	}

	.board-list01 table tbody td .mobile-info {
		display: block;
	}
	
	.board-list01 table tbody td .mobile-info .mobile-notice {
		display: inline-block;
		vertical-align: middle;
		padding-right: 12px;
		margin-right: 5px;
		color: #666666;
		background: url(../make_img/board/icon_bar01.gif) no-repeat right center;
	}

	.board-list01 table tbody td .mobile-info .mobile-affiliate {
		display: inline-block;
		vertical-align: middle;
		color: #e84a4e
	}

	.board-list01 table tbody td .mobile-info .mobile-writer {
		display: inline-block;
		vertical-align: middle;
		color: #666666;
		margin-right: 20px;
		bordeR: 0px solid red;
	}

	.board-list01 table tbody td .mobile-info .mobile-mail {
		float: right;
		margin-top: -10px;
		bordeR: 0px solid red;
	}

	.board-list01 table tbody td .mobile-info .mobile-mail img {
		display: inline-block;
		vertical-align: middle;
	}


	.board-list01 table tbody td .mobile-info .mobile-date {
		display: inline-block;
		vertical-align: middle;
		color: #666666
	}

	
	.board-list01 table tbody td.writer {
		display: none;
	}
	.board-list01 table tbody td.hit {
		display: none;
	}


	.board-list01 table tbody td.file {
		display: none;
	}
	.board-list01 table tbody td.notice {
		display: none;
	}
	.board-list01 table tbody td.affiliate {
		display: none;
	}
	.board-list01 table tbody td.date {
		display: none;
	}
	.board-list01 table tbody td.hit {
		display: none;
	}
	.board-list01 table tbody td.number {
		display: none;
	}
	.board-list01 table tbody td.support {
		width: 10%;
	}
	.board-list01 table tbody td.title {
		width: 90%; 
		text-align: left;
	}

	.board-list01 table tbody td.title02 {
		width: 90%; 
		text-align: left;
	}
	.board-list01 table tbody td.title03 {
		width: 90%; 
		text-align: left;
	}

	.board-list01 table tbody td.left {
		text-align:left; 
	}
	.board-list01 table tbody td.center {
		text-align:center; 
	}
	.board-list01 table tbody td.right {
		text-align:right; 
	}

	/* 페이징 네비게이션 */
	.paging-navigation {
		clear: both; 
		text-align: center; 
		padding-bottom: 0;
		margin-top: 35px;
		*border: 1px solid #fff;
	}
	.paging-navigation a {
		display: inline-block; 
		line-height: 22px; 
		min-width: 16px; 
		height: 22px; 
		padding: 0 3px;
		margin: 0 2px;
		color: #4c4c50;
		border: 1px solid #c5c7cc; 
		vertical-align: middle; 
		background: #fff;
		font-family: Verdana, "돋움", Dotum, sans-serif;
	}
	.paging-navigation a:hover {
		border: 1px solid #636363; 
		color: #fff;
		background: #636363;
		font-family: Verdana, "돋움", Dotum, sans-serif;
		text-decoration: none;
	}
	.paging-navigation strong {
		display: inline-block; 
		line-height: 22px; 
		min-width: 16px; 
		height: 22px; 
		padding: 0 3px; 
		border: 1px solid #636363; 
		color: #fff; 
		font-family: Verdana, "돋움", Dotum, sans-serif;
		vertical-align: middle;
		background: #636363;
	}
	.paging-navigation a.btn-first {
		text-indent: -5000em;

		background: transparent url(../make_img/board/btn_first.gif) no-repeat center center;
		background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_first@2x.gif) no-repeat center center;
		background: linear-gradient(transparent, transparent), url(../make_img/board/btn_first@2x.gif) no-repeat center center;
		background-size: 12px 10px;
	}
	.paging-navigation a.btn-preview {
		text-indent: -5000em; 

		background: transparent url(../make_img/board/btn_previous.gif) no-repeat center center;
		background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_previous@2x.gif) no-repeat center center;
		background: linear-gradient(transparent, transparent), url(../make_img/board/btn_previous@2x.gif) no-repeat center center;
		background-size: 6px 10px;
	}
	.paging-navigation a.btn-next {
		text-indent: -5000em; 

		background: transparent url(../make_img/board/btn_next.gif) no-repeat center center;
		background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_next@2x.gif) no-repeat center center;
		background: linear-gradient(transparent, transparent), url(../make_img/board/btn_next@2x.gif) no-repeat center center;
		background-size: 6px 10px;
	}
	.paging-navigation a.btn-last {
		text-indent: -5000em; 

		background: transparent url(../make_img/board/btn_last.gif) no-repeat center center;
		background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_last@2x.gif) no-repeat center center;
		background: linear-gradient(transparent, transparent), url(../make_img/board/btn_last@2x.gif) no-repeat center center;
		background-size: 12px 10px;
	}







	.board-write {
		border-collapse: collapse; 
		border-top: 2px solid #545861;
		border-bottom: 1px solid #333333
	}

	.board-write dl {
		position: relative;
		padding-left: 111px;
		border-bottom: 1px solid #e3e3e3;
	}

	.board-write dl dt {
		position: absolute;
		top: 0;
		left: 0;
		width: 91px;
		margin-top: 15px;
		padding-left: 20px;
		color: #636363;
		font-weight: bold;
	}

	.board-write dl dd {
		padding: 11px 11px 11px 0; 
	}

	.board-write dl dd:after {
		content: "";
		clear: both;
		display: block;
	}

	.board-write dl dd select {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 26px;
		padding-left: 5px;
		border: 1px solid #dedede;
		background: #f4f4f4;
		border-radius: 0;
	}
	.board-write dl dd input[type="checkbox"] {
		float: left;
		margin-top: 2px;
		border-radius: 0;
		/*
		-webkit-appearance: none;
		*/
	}
	.board-write dl dd strong {
		float: left;
		margin-left: 5px;
		width: 87.5%;
	}

	
	.board-write dl dd .secret-area {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		margin-top: 10px;
	}

	.board-write dl dd .secret-area input[type="checkbox"] {
		float: left;
		margin-top: 2px;
		border-radius: 0;
		/*
		-webkit-appearance: none;
		*/
	}
	.board-write dl dd .secret-area strong {
		float: left;
		margin-left: 5px;
		width: auto;
	}

	.board-write dl dd input[type="text"], 
	.board-write dl dd input[type="password"],
	.board-write dl dd input[type="email"] {
		display: inline-block;
		vertical-align: middle;
		height: 24px;
		padding: 0 2.5%;
		width:  95%;
		border: 1px solid #dedede;
		background: #f4f4f4;
		border-radius: 0;
		-webkit-appearance: none;

		font-family: "NanumBarunGothic", "나눔바른고딕", NanumBarunGothic, "돋움", Dotum, sans-serif;
	}

	.board-write dl dd input[type="text"]:focus, 
	.board-write dl dd input[type="password"]:focus,
	.board-write dl dd input[type="email"]:focus {
		background: #fff;
	}

	.board-write dl dd input[type="text"].w30, 
	.board-write dl dd input[type="password"].w30,
	.board-write dl dd input[type="email"].w30 {
		width: 95%;
		padding: 0 2.5%;
	}

	.board-write dl dd input[type="text"].w50, 
	.board-write dl dd input[type="password"].w50,
	.board-write dl dd input[type="email"].w50 {
		width: 95%;
		padding: 0 2.5%;
	}

	.board-write dl dd input[type="text"].w70, 
	.board-write dl dd input[type="password"].w70,
	.board-write dl dd input[type="email"].w70 {
		width: 95%;
		padding: 0 2.5%;
	}

	.editer-area {
		padding-top: 10px;
		height: 330px;
		border-top: 1px solid #545861;
	}

	.board-write dl.writer-add-file {
		position: relative;
		background: #f6f6f6;
		padding-left: 90px;
		border: 0px solid red;
	}	

	.board-write dl.writer-add-file dt {
		position: absolute;
		top: 0;
		left: 0;
		width: 70px;
		padding-top: 25px;
		padding-left: 20px;
		color: #666666;
	}

	.board-write dl.writer-add-file dt label {
		display: block;
		vertical-align: middle;
	}

	.board-write dl.writer-add-file dt a {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	.board-write dl.writer-add-file dt a img {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
	}

	.board-write dl.writer-add-file dd {
		background: #fff;
		padding: 11px 15px;
	}

	.board-write dl.writer-add-file dd .file-box {
		padding: 2px 0 3px 0;
	}

	.board-write dl.writer-add-file dd .file-box:after {
		content: "";
		clear: both;
		display: block;
	}

	.board-write dl.writer-add-file dd .file-box input[type="file"] {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		border-radius: 0;
		-webkit-appearance: none;

	}

	.board-write dl.writer-add-file dd .file-box .alt-area {
		display: inline-block;
		vertical-align: middle;
		margin-left: 0;
		margin-top: 5px;
	}

	.board-write dl.writer-add-file dd .file-box .alt-area input[type="text"] {
		height: 30px;
		border-radius: 0;
		-webkit-appearance: none;
	}


	input[type="submit"].btns,
	.btns {
		display: inline-block;
		vertical-align: middle;
		height: 27px;
		line-height: 27px;
		padding: 0 2.5%;
		margin-bottom: 12px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		border: 0;
		cursor: pointer;
	}

	input[type="submit"].btns02,
	.btns02 {
		display: inline-block;
		vertical-align: middle;
		min-width: 25px;
		height: 35px;
		line-height: 35px;
		padding: 0 20px;
		color: #fff;
		font-weight: bold;
		border: 0;
		cursor: pointer;
	}

	
	.btns02 {
		width: 100%;
		padding: 0;
		text-align: center;
		border-radius: 0;
		-webkit-appearance: none;
	}


	.btns-color01 {
		background-color: #62748d;
		border-bottom: 1px solid #40526c
	}

	.btns-color02 {
		background-color: #6f7a88
	}

	.btns-color03 {
		background-color: #079bdb
	}

	.btns-2nd {
		float: left;
		width: 49%;
		padding: 0;
		text-align: center;
		border-radius: 0;
		-webkit-appearance: none;
	}
	.btns-mr {
		margin-right: 1%;
	}

	.btns-ml {
		margin-left: 1%;
	}

	.btns02.w25 {
		float: left;
		width: 24.25%;
		padding: 0;
		margin-right: 1%;
	}

	.btns02.mr-none {
		padding: 0;
		margin-right: 0;
	}

}

@media screen and (max-width: 619px) {

	.board-area {
		*overflow: hidden;
		border: 0px solid red;
	}



	.btns-color04 {
		width: 100%;
		color: #fff;
		background: #333333
	}

	.btns-color04.ml05 {
		margin-left: 0;
	}

	.btns-color05 {
		width: 100%;
		color: #fff;
		background: #748d9a;
		margin-top: 5px;
	}

	.btns-color05.fl {
		margin-left: 0;
	}

	.total {
		clear: both;
		float: none;
	}
	.board-area .search-wrapper {
		clear: both;
		float: none;
	}

	.board-area .search-area {
		position: relative;
		padding-bottom: 10px;
		text-align: left;
	}

	.board-area .search-area.fl {
		float: none;
	}

	.board-area .search-area select {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 25px;
		line-height: 25px;
		border: 1px solid #a9a9a9;
		font-family: "나눔바른고딕", "나눔고딕", NanumBarunGothic, NanumGothic,"돋움", Dotum, sans-serif;
		border-radius: 0;
		margin-bottom: 10px;
		border-radius: 0;
	}

	.board-area .search-area .search-box {
		display: block;
		position: relative;
		padding: 0;
		padding-right: 100px;
		margin: 0;
		text-align: left;
	}

	.board-area .search-area .search-box input[type="text"] {
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #dfdfdf;
		height: 23px;
		line-height: 23px;
		width: 100%;
		font-size: 15px;
		background: #fff;
		border-radius: 0;
		-webkit-appearance: none;
		font-family: "나눔바른고딕", "나눔고딕", NanumBarunGothic, NanumGothic,"돋움", Dotum, sans-serif;
	}

	.board-area .search-area .search-box input[type="text"]:focus {
		display: inline-block;
		vertical-align: middle;
		background: #dfdfdf;
		border: 1px solid #dfdfdf;
	}

	.board-area .search-area .search-box input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		vertical-align: middle;
		height: 25px;
		line-height: 25px;
		color: #fff;
		width: 80px;
		border-radius: 0;
		border: 0;
		text-align: center;
		-webkit-appearance: none;
		cursor: pointer;

	}

	.board-area .search-area input[type="submit"]:flat {
		display: inline-block;
		vertical-align: middle;
		height: 25px;
		line-height: 25px;
		color: #fff;
		width: 80px;
		padding: 0;
		border-radius: 0;
		border: 0;
		text-align: center;
		-webkit-appearance: none;
	}


	/* 게시판 목록 */
	.board-list01 table {
		border-collapse: collapse; 
		border-top: 2px solid #444547;
	}
	.board-list01 table tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
	.board-list01 table tr:hover {
		background: #f9f9f9;
	}
	.board-list01 table th, 
	.board-list01 table td {
		border-width: 0;
	}
	.board-list01 table thead, .board-list01 table tfoot {}
	.board-list01 table thead th {
		display: none;
	} 
	.board-list01 table tbody td {
		border-bottom: 1px solid #dddddd; 
		color: #545454; 
		text-align: center; 
		padding: 20px 6px;
	}
	.board-list01 table tbody td a {
		display: inline-block;
		max-width: 80%;
		overflow: hidden;
		white-space: nowrap; 
		text-overflow: ellipsis; 
		-o-text-overow: ellipsis;
	}

	
	.board-list01 table tbody td.image {
		width: 40%; 
	}
	.board-list01 table tbody td.image img {
		display: inline-block;
		vertical-align: middle;
		max-width: 180px;
		width: 100%;
	}

	.board-list01 table tbody td .mobile-notice-icon {
		display: inline-block;
		font-weight: bold;
		color: #748d9a;

	}

	.board-list01 table tbody td .mobile-info {
		display: block;
	}
	
	.board-list01 table tbody td .mobile-info .mobile-notice {
		display: inline-block;
		vertical-align: middle;
		padding-right: 12px;
		margin-right: 5px;
		color: #666666;
		background: url(../make_img/board/icon_bar01.gif) no-repeat right center;
	}

	.board-list01 table tbody td .mobile-info .mobile-affiliate {
		display: inline-block;
		vertical-align: middle;
		color: #e84a4e
	}
	
	.board-list01 table tbody td .mobile-info .mobile-writer {
		display: inline-block;
		vertical-align: middle;
		color: #666666;
		margin-right: 20px;
		bordeR: 0px solid red;
	}

	.board-list01 table tbody td .mobile-info .mobile-mail {
		float: right;
		margin-top: -10px;
		bordeR: 0px solid red;
	}

	.board-list01 table tbody td .mobile-info .mobile-mail img {
		display: inline-block;
		vertical-align: middle;
	}


	.board-list01 table tbody td .mobile-info .mobile-date {
		display: inline-block;
		vertical-align: middle;
		color: #666666;
		margin-right: 20px;
	}

	
	.board-list01 table tbody td.writer {
		display: none;
	}
	.board-list01 table tbody td.hit {
		display: none;
	}


	.board-list01 table tbody td.file {
		display: none;
	}
	.board-list01 table tbody td.notice {
		display: none;
	}
	.board-list01 table tbody td.affiliate {
		display: none;
	}
	.board-list01 table tbody td.date {
		display: none;
	}
	.board-list01 table tbody td.hit {
		display: none;
	}
	.board-list01 table tbody td.number {
		display: none;
	}
	.board-list01 table tbody td.support {
		width: 10%;
	}
	.board-list01 table tbody td.title {
		width: 90%; 
		text-align: left;
	}

	.board-list01 table tbody td.title02 {
		width: 90%; 
		text-align: left;
	}
	.board-list01 table tbody td.title03 {
		width: 90%; 
		text-align: left;
	}

	.board-list01 table tbody td.left {
		text-align:left; 
	}
	.board-list01 table tbody td.center {
		text-align:center; 
	}
	.board-list01 table tbody td.right {
		text-align:right; 
	}

	/* 페이징 네비게이션 */
	.paging-navigation {
		clear: both; 
		text-align: center; 
		padding-bottom: 0;
		margin-top: 35px;
		*border: 1px solid #fff;
	}
	.paging-navigation a {
		display: inline-block; 
		line-height: 22px; 
		min-width: 16px; 
		height: 22px; 
		padding: 0 3px;
		margin: 0 2px;
		color: #4c4c50;
		border: 1px solid #c5c7cc; 
		vertical-align: middle; 
		background: #fff;
		font-family: Verdana, "돋움", Dotum, sans-serif;
	}
	.paging-navigation a:hover {
		border: 1px solid #636363; 
		color: #fff;
		background: #636363;
		font-family: Verdana, "돋움", Dotum, sans-serif;
		text-decoration: none;
	}
	.paging-navigation strong {
		display: inline-block; 
		line-height: 22px; 
		min-width: 16px; 
		height: 22px; 
		padding: 0 3px; 
		border: 1px solid #636363; 
		color: #fff; 
		font-family: Verdana, "돋움", Dotum, sans-serif;
		vertical-align: middle;
		background: #636363;
	}
	.paging-navigation a.btn-first {
		text-indent: -5000em;

		background: transparent url(../make_img/board/btn_first.gif) no-repeat center center;
		background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_first@2x.gif) no-repeat center center;
		background: linear-gradient(transparent, transparent), url(../make_img/board/btn_first@2x.gif) no-repeat center center;
		background-size: 12px 10px;
	}
	.paging-navigation a.btn-preview {
		text-indent: -5000em; 

		background: transparent url(../make_img/board/btn_previous.gif) no-repeat center center;
		background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_previous@2x.gif) no-repeat center center;
		background: linear-gradient(transparent, transparent), url(../make_img/board/btn_previous@2x.gif) no-repeat center center;
		background-size: 6px 10px;
	}
	.paging-navigation a.btn-next {
		text-indent: -5000em; 

		background: transparent url(../make_img/board/btn_next.gif) no-repeat center center;
		background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_next@2x.gif) no-repeat center center;
		background: linear-gradient(transparent, transparent), url(../make_img/board/btn_next@2x.gif) no-repeat center center;
		background-size: 6px 10px;
	}
	.paging-navigation a.btn-last {
		text-indent: -5000em; 

		background: transparent url(../make_img/board/btn_last.gif) no-repeat center center;
		background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/btn_last@2x.gif) no-repeat center center;
		background: linear-gradient(transparent, transparent), url(../make_img/board/btn_last@2x.gif) no-repeat center center;
		background-size: 12px 10px;
	}







	.board-write {
		border-collapse: collapse; 
		border-top: 2px solid #545861;
		border-bottom: 1px solid #333333
	}

	.board-write dl {
		position: relative;
		padding-left: 111px;
		border-bottom: 1px solid #e3e3e3;
	}

	.board-write dl dt {
		position: absolute;
		top: 0;
		left: 0;
		width: 91px;
		margin-top: 15px;
		padding-left: 20px;
		color: #636363;
		font-weight: bold;
	}

	.board-write dl dd {
		padding: 11px 11px 11px 0; 
	}

	.board-write dl dd:after {
		content: "";
		clear: both;
		display: block;
	}

	.board-write dl dd select {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 26px;
		padding-left: 5px;
		border: 1px solid #dedede;
		background: #f4f4f4;
		border-radius: 0;
	}
	.board-write dl dd input[type="checkbox"] {
		float: left;
		margin-top: 2px;
		border-radius: 0;
		/*
		-webkit-appearance: none;
		*/
	}
	.board-write dl dd strong {
		float: left;
		margin-left: 5px;
		width: 87.5%;
	}

	
	.board-write dl dd .secret-area {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		margin-top: 10px;
	}

	.board-write dl dd .secret-area input[type="checkbox"] {
		float: left;
		margin-top: 2px;
		border-radius: 0;
		/*
		-webkit-appearance: none;
		*/
	}
	.board-write dl dd .secret-area strong {
		float: left;
		margin-left: 5px;
		width: auto;
	}

	.board-write dl dd input[type="text"], 
	.board-write dl dd input[type="password"],
	.board-write dl dd input[type="email"] {
		display: inline-block;
		vertical-align: middle;
		height: 24px;
		padding: 0 2.5%;
		width:  95%;
		border: 1px solid #dedede;
		background: #f4f4f4;
		border-radius: 0;
		-webkit-appearance: none;

		font-family: "NanumBarunGothic", "나눔바른고딕", NanumBarunGothic, "돋움", Dotum, sans-serif;
	}

	.board-write dl dd input[type="text"]:focus, 
	.board-write dl dd input[type="password"]:focus,
	.board-write dl dd input[type="email"]:focus {
		background: #fff;
	}

	.board-write dl dd input[type="text"].w30, 
	.board-write dl dd input[type="password"].w30,
	.board-write dl dd input[type="email"].w30 {
		width: 95%;
		padding: 0 2.5%;
	}

	.board-write dl dd input[type="text"].w50, 
	.board-write dl dd input[type="password"].w50,
	.board-write dl dd input[type="email"].w50 {
		width: 95%;
		padding: 0 2.5%;
	}

	.board-write dl dd input[type="text"].w70, 
	.board-write dl dd input[type="password"].w70,
	.board-write dl dd input[type="email"].w70 {
		width: 95%;
		padding: 0 2.5%;
	}

	.editer-area {
		padding-top: 10px;
		height: 330px;
		border-top: 1px solid #545861;
	}

	.board-write dl.writer-add-file {
		position: relative;
		background: #f6f6f6;
		padding-left: 90px;
		border: 0px solid red;
	}	

	.board-write dl.writer-add-file dt {
		position: absolute;
		top: 0;
		left: 0;
		width: 70px;
		padding-top: 25px;
		padding-left: 20px;
		color: #666666;
	}

	.board-write dl.writer-add-file dt label {
		display: block;
		vertical-align: middle;
	}

	.board-write dl.writer-add-file dt a {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	.board-write dl.writer-add-file dt a img {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
	}

	.board-write dl.writer-add-file dd {
		background: #fff;
		padding: 11px 15px;
	}

	.board-write dl.writer-add-file dd .file-box {
		padding: 2px 0 3px 0;
	}

	.board-write dl.writer-add-file dd .file-box:after {
		content: "";
		clear: both;
		display: block;
	}

	.board-write dl.writer-add-file dd .file-box input[type="file"] {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		border-radius: 0;
		-webkit-appearance: none;

	}

	.board-write dl.writer-add-file dd .file-box .alt-area {
		display: inline-block;
		vertical-align: middle;
		margin-left: 0;
		margin-top: 5px;
	}

	.board-write dl.writer-add-file dd .file-box .alt-area input[type="text"] {
		height: 30px;
		border-radius: 0;
		-webkit-appearance: none;
	}
	
	.btns02 {
		width: 100%;
		padding: 0;
		text-align: center;
		border-radius: 0;
		-webkit-appearance: none;
	}

	.btns-2nd {
		float: left;
		width: 49%;
		padding: 0;
		text-align: center;
		border-radius: 0;
		-webkit-appearance: none;
	}
	.btns-mr {
		margin-right: 1%;
	}

	.btns-ml {
		margin-left: 1%;
	}


	.comment-area {
		margin-top: 35px;
		border-top: 1px solid #969696;
	}

	.comment-area .comment-box {
		border-top: 1px solid #e4e6e8;
		border-bottom: 1px solid #e4e6e8;
		margin-bottom: -1px;
	}

	.comment-area .comment-box .comment-info-area {
		padding: 10px 15px;
		font-size: 13px;
		background: #f9f9f9;
		color: #858585;
		border-bottom: 1px solid #e4e6e8;
		overflow: hidden;
	}

	.comment-area .comment-box .comment-info-area .comment-user {
		float: left;
		font-weight: bold;
		font-size: 13px;
		color: #444;
		padding-top: 3px;
	}

	.comment-area .comment-box .comment-info-area .comment-user-info {
		float: right;
	}

	.comment-area .comment-box .comment-info-area .comment-user-info .comment-date {
		float: left;
		font-size: 12px;
		padding-top: 3px;
	}

	.comment-area .comment-box .comment-info-area .comment-user-info .comment-btns-list {
		float: left;
		margin-left: 20px;
		margin-top: 2px;
	}
	.comment-area .comment-box .comment-info-area .comment-user-info .comment-btns-list li {
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}

	.comment-area .comment-box .comment-info-area .comment-user-info .comment-btns-list li input[type="image"] {
		display: inline-block;
		height: 24px;
		border-radius: 0;
		-webkit-appearance: none;
	}



	.comment-area .comment-box .comment-contents {
		padding: 10px;
	}

	.comment-area .comment-form-wrapper {

		margin-bottom: 20px;
		padding: 20px 0 20px 20px;
		border: 1px solid #e4e6e8;
		background: #f9f9f9;
		text-align: left;
		overflow: hidden;
	}
	.comment-area .comment-form-wrapper .comment-form {
		position: relative;
		padding-right: 100px;
	}

	.comment-area .comment-form-wrapper .comment-user-info-form {
		padding-bottom: 10px;
	}

	.comment-area .comment-form-wrapper .comment-user-info-form label {
		display: inline-block;
		vertical-align: middle;
		color: ##636363;
		font-weight: bold;

	}

	.comment-area .comment-form-wrapper .comment-user-info-form input[type="text"],
	.comment-area .comment-form-wrapper .comment-user-info-form input[type="password"] {
		border: 1px solid #e4e6e8;
		width: 20%;
		height: 22px;
		padding: 0 2.5%;

		overflow-x: hidden;
		overflow-y: auto;
		text-align: left;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;

		-webkit-appearance: none;
	}

	.comment-area .comment-form-wrapper .comment-user-info-form input[type="text"] {
		margin-right: 5%;
	}


	.comment-area .comment-form textarea {
		border: 1px solid #e4e6e8;
		width: 97%;
		height: 50px;
		padding: 5px 1%;
		overflow-x: hidden;
		overflow-y: auto;
		text-align: left;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;

		-webkit-appearance: none;
	}

	.comment-area .comment-form .btn-comment-save {
		position: absolute;
		bottom: 0px;
		right: 20px;
		display: inline-block;
		vertical-align: bottom;
		width: 70px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		color: #fff;
		background: #079bdb;
		font-weight: bold;
		border: none;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-webkit-appearance: none;

	}

	.comment-area .modify-area {
		clear: both;
		display: block;
	}

	.comment-area .modify-area .comment-form {
		position: relative;
		padding: 10px 0 0 0;
		padding-right: 80px;
		border: 0px solid #e4e6e8;
		background: #f9f9f9;
		text-align: left;
		overflow: hidden;
	}

	.comment-area .modify-area .btn-comment-save {
		position: absolute;
		top: 10px;
		right: 0px;
		display: inline-block;
		vertical-align: bottom;
		width: 70px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		background: #079bdb;
		border-radius: 0;
		-webkit-appearance: none;

	}


	/* 비밀글 비밀번호 입력 폼 */
	.check-password-area {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 90%;
		height: 100%;
		padding: 0 5%;
		z-index: 10000;
		background: url(../make_img/board/bg_01.png) repeat;
		background: -webkit-linear-gradient(transparent, transparent), url(../make_img/board/bg_01@2x.png) repeat;
		background: linear-gradient(transparent, transparent), url(../make_img/board/bg_01@2x.png) repeat;
		background-size: 1px 1px;
	}

	.check-password-box {
		display: none;
		position: relative;
		top: 30%;
		left: 0;
		width: 80%;
		min-height: 150px;
		padding: 5%;
		margin: 0 auto;
		background: #fff;
		border: 1px solid #333333;
		text-align: center;
	}
	 
	.check-password-box h2 {
		color: #3c3c3c;
		font-size: 24px;
		line-height: 26px;
		margin-bottom: 20px;
		font-family: "NanumBarunGothicBold", "나눔바른고딕 Bold", NanumBarunGothicBold, "돋움", Dotum, sans-serif;
	}

	.check-password-box p {
		display: block;
		margin-bottom: 30px;
		text-align: center;
	}

	.check-password-box dl {
		position: relative;
		margin: 0;
		padding: 0;
		padding-left: 60px;
		padding-right: 70px;
		text-align: left;
	}

	.check-password-box dl dt,
	.check-password-box dl dt label,
	.check-password-box dl dd {
		display: inline-block;
		vertical-align: middle;
	}

	.check-password-box dl dt {
		position: absolute;
		top: 0;
		left: 0;
		color: #000000;
	}

	.check-password-box dl dd input[type="text"] {
		display: inline-block;
		vertical-align: middle;

		width: 95%;
		padding: 0 2.5%;
		height: 22px;
		border: 1px solid #dfdfdf;
		background: #fff;
	}

	.check-password-box dl dd input[type="text"]:focus {
		background: #f5f5f5;
	}

	.check-password-box dl dd input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		vertical-align: middle;

		width: 64px;
		height: 24px;
		border: none;
		color: #fff;
		background: #079bdb;
		text-align: center;
	}

	.check-password-box .btn-close {
		position: absolute;
		top: 17px;
		right: 19px;
	}

	.check-password-box .btn-close img {
		display: block;
		width: 23px;
		height: 23px;
	}

	.check-password-box .btn-ok {
		display: inline-block;
		vertical-align: middle;

		width: 64px;
		height: 24px;
		line-height: 24px;
		border: none;
		color: #fff;
		background: #079bdb;
		text-align: center;
	}

	
	.btns02.w25 {
		float: left;
		width: 24.25%;
		padding: 0;
		margin-right: 1%;
	}

	.btns02.mr-none {
		padding: 0;
		margin-right: 0;
	}

}
