/* 기본 */
body{
    margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:   "Dotum", "Gulim", "verdana", "Arial", "Helvetica", "sans-serif", "Malgun Gothic";
	font-size: 9pt;
	line-height: 160%;
	color: #555555;
	letter-spacing:0px;
	background-color: #FFFFFF;
}
table, tr, td, select, textarea{
	font-family:   "Dotum", "Gulim", "verdana", "Arial", "Helvetica", "sans-serif", "Malgun Gothic";
	font-size: 9pt;
	line-height: 160%;
	color: #555555;
	letter-spacing:0px;
	
}

a:visited {text-decoration: none; color:#555555}
a:link {text-decoration: none; color:#555555}
a:hover {color:#555555; text-decoration: underline;}

a.b:visited {text-decoration: none; color:#000000}
a.b:link {text-decoration: none; color:#000000}
a.b:hover {color:#000000; text-decoration: none;}

a.g:visited {text-decoration: none; color:#707070}
a.g:link {text-decoration: none; color:#707070}
a.g:hover {color:#707070; text-decoration: none;}

a.top_g:visited {text-decoration: none; color:#959595}
a.top_g:link {text-decoration: none; color:#959595}
a.top_g:hover {color:#959595; text-decoration: none;}

img {border:none}
select{height:18px;font-size:12px;padding:4px 0 0 2px;}

/*라인관련*/
.box {border: 1px solid #7f9db9; height:20px}
.login_box {border: 1px solid #d7c9c9; height:20px; font-size:11px;padding:4px 0 0 2px; COLOR: #959595;}
.date_box {border: 1px solid #7f9db9; height:18px}

/*띄우기*/
.p8 {padding-left:8px}
.Menu_all_sub {padding:6px 0 6px 14px;line-height:18px;}
.quiick{padding:4px}

/*글짜 관련*/
.txt_11px { FONT-SIZE: 11px; COLOR: #777777; }
.txt_11px2 { FONT-SIZE: 11px; COLOR: #777777; letter-spacing:-1px}
.txt_11px3 { FONT-SIZE: 11px; COLOR: #777777; letter-spacing:-2px}
.txt_12px2 { FONT-SIZE: 12px; letter-spacing:-1px}
.txt_price2 { FONT-SIZE: 11px; COLOR: #a20000;}
.txt_price { FONT-SIZE: 11px; COLOR: #000000; }
.txt_11px_black { FONT-SIZE: 11px; COLOR: #000000;letter-spacing:-1px}

/*타이틀*/
.title {FONT-SIZE: 12px; COLOR: #707070;padding-right:8px;letter-spacing:-1px}

form { margin:0px; }

/* img {border:0px;} */

a:link, a:visited, a:active { text-decoration:none; color:#000000; }
a:hover { text-decoration:underline; color:#000066; position:relative; top:1; left:1}


a.menu:link, a.menu:visited, a.menu:active { text-decoration:none; color:#454545; }
a.menu:hover { text-decoration:none; }

.member {font-weight:bold;color:#888888;}
.guest  {font-weight:normal;color:#888888;}

.lh { line-height: 150%; }
.lh1 { line-height: 140%; font-size:9pt; }
.lh2 { line-height: 130%;  padding-left: 13px; }
.lh3 { line-height: 150%; border-bottom:solid 1px; }
.lh4 { line-height: 200%; }
.lh5 { line-height: 150%; font-size:8pt; }
.lh6 { line-height:150%; font-size:8pt;  padding-left:14px; }
.jt { text-align:justify; }

.li { font-weight:bold; font-size:18px; vertical-align:-4px; color:#66AEAD; }

.ul { list-style-type:square; color:#66AEAD; }

.ct { font-family: Verdana; color:#222222; }

.ed { border:1px solid #CCCCCC; }
.tx { border:1px solid #CCCCCC; }

.small { font-size:8pt; color:#000000}
.small2 { line-height: 200%; font-size:8pt; color:#000000}
.small3 { line-height: 150%; font-size:8pt; color:#0081e5;}
.cloudy, a.cloudy {color:#888888;} /* 흐림 */

input.ed { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; }
input.ed_password { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; font:10px Tahoma; }
textarea.tx { border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:2px; }

a.main_m1:link, a.main_m1:active, a.main_m1:visited 	{	color: #969696;	text-decoration: none; letter-spacing:0px;	}
a.main_m1:hover	{
	color: #464646;
	text-decoration: none;
	font-weight: none;
	letter-spacing:0px;
}

a.sub_menu:link, a.sub_menu:active, a.sub_menu:visited 	{font-size:12px;color: #707070;	text-decoration: none; letter-spacing:0px;	font-weight: none;}
a.sub_menu:hover	{
	font-size:12px;
	color: #000000;
	text-decoration: none;
	font-weight: none;
	letter-spacing:0px;
}


.sub_left_title{ font-size:14px; color: #394e91;	text-decoration: none;	font-weight: bold;	letter-spacing:-1px;}
.sub_con_title{	font-size:14px; color: #394e91;	text-decoration: none;	font-weight: bold;	letter-spacing:0px;}

/* neo */
a.detail_m:link, a.detail_m:active, a.detail_m:visited 	{	color: #2f71c9;	text-decoration: none; letter-spacing:-1px;	}
a.detail_m:hover	{
	color: #121f63;
	text-decoration: none;
	font-weight: bold;
	letter-spacing:-1px;
}
.detail_m_on{	color: #121f63;	text-decoration: none;	font-weight: bold;	letter-spacing:-1px;}
a.detail_m2:link, a.detail_m2:active, a.detail_m2:visited 	{	color: #cbe0ff;	text-decoration: none; letter-spacing:-1px;	}
a.detail_m2:hover	{
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	letter-spacing:-1px;
}
.detail_m2_on{	color: #ffffff;	text-decoration: none;	font-weight: bold;	letter-spacing:-1px;}

.join_t1{	color: #121f63;	text-decoration: none;	font-weight: bold;	letter-spacing:-1px;}
.join_t11{	color: #121f63;	text-decoration: none;	font-weight: bold;	letter-spacing:0px;font-size:10pt;}
.join_t12{	color: #121f63;	text-decoration: none;	font-weight: bold;	letter-spacing:0px;font-size:11pt;}
.join_t13{	color: #333333;	text-decoration: none;	font-weight: bold;	letter-spacing:0px;font-size:11pt;}
.join_t14{	color: #333333;	text-decoration: none;	font-weight: none;	letter-spacing:0px;font-size:11pt;}
.join_t2{	color: #66adeb;	text-decoration: none;	font-weight: bold;	letter-spacing:-1px;}
.join_t3{	color: #2f71c9;	text-decoration: none;	font-weight: bold;	letter-spacing:-1px;}
.join_t4{	color: #ff2a00;	text-decoration: none;	font-weight: bold;	letter-spacing:-1px;}
.n_lh1 { line-height:120%; font-size:9pt;color: #333333;}
.n_table_t1 { font-size:9pt;color: #66adeb;	text-decoration: none;	font-weight: bold;	letter-spacing:0px;}
.n_table_t2 { font-size:9pt;color: #2f71c9;	text-decoration: none;	font-weight: bold;	letter-spacing:0px;}
.n_table_t3 {
	font-size:9pt;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	letter-spacing:0px;
}
.n_table_t4 { font-size:9pt;color: #ff2a00;	text-decoration: none;	font-weight: bold;	letter-spacing:0px;}
.n_num1{   font-family:Tahoma, vedana ,Dotum; font-size:11px;	letter-spacing:0px; color: #898989}
.cal_t1{ color: #ffffff;  font-family:Arial Black, Arial,Dotum, Gulim; font-size:30px;font-weight: bold;letter-spacing:0px;}
a.cal_m:link, a.cal_m:active, a.cal_m:visited 	{color: #ffffff;  font-family:Arial Black, Arial,Dotum, Gulim; font-size:24px;font-weight: bold;letter-spacing:0px;}
a.cal_m:hover	{color: #ffff00;text-decoration: none;  font-family:Arial Black, Arial,Dotum, Gulim; font-size:24px;font-weight: bold;letter-spacing:0px;}
.n_footer_t1 { line-height:110%; font-size:9pt;color: #7a6e50;	text-decoration: none;	font-weight: none;	letter-spacing:0px;}
.n_footer_t2 { line-height:110%; font-size:9pt;color: #7a6e50;	text-decoration: none;	font-weight: bold;	letter-spacing:0px;}


.inputbox_single {
	border: 1px solid #cccccc;
	font-size: 12px;
	background-color: #F9FAF2;
	height: 18px;
	font-family:  Tahoma;
}
.inputbox_multi {
	border: 1px solid #cccccc;
	font-size: 12px;
	background-color: #F9FAF2;
	font-family:  Tahoma;
}
.inputbox_border_none {
	border: 0px;
	font-size: 12px;
	background-color: #FFFFFF;
	height: 16px;
	font-family:  Tahoma;
}

.font_blue_11px {
	font-size: 11px;
	color: #007EFF;
}
.font_blue_11px_b {
	font-size: 11px;
	color: #007EFF;
	font-weight: bold;
}


.font_red_11px {
	font-size: 11px;
	color: #FF0000;
}

.font_black_11px {
	font-size: 11px;
	color: #888888;
}

.font_blue_b_12px {
	font-size: 12px;
	font-weight: bold;
	color: #007EFF;
}
.font_blue_b_big {
	font-size: 30px;
	font-weight: bold;
	color: #007EFF;
}

.font_blue_b_16px {
	font-size: 16px;
	font-weight: bold;
	color: #5A9EBC;
}
a.sitemap_m1:link, a.sitemap_m1:active, a.sitemap_m1:visited 	{	color: #707070;	text-decoration: none; font-weight: bold; letter-spacing:0px;	}
a.sitemap_m1:hover	{
	color: #0a1b6f;
	text-decoration: none;
	font-weight: bold;
	letter-spacing:0px;
}